<% content_for :extra_scripts do %>
        <script>
                $(document).ready(function() {
                        var state_selector = $("<%= state_selector %>");
                        var country_selector = $("<%= country_selector %>");
                        var selected_state_id = state_selector.val();

                        if (country_selector.val() != '') {
                                fill_states_from_country(country_selector.val());
                        }

                        if (selected_state_id != '') {
                                state_selector.val(selected_state_id);
                        }

                        country_selector.on('change', function() {
                                fill_states_from_country($(this).val());
                        });

                        function fill_states_from_country(country_id) {
                                $.ajax({
                                        url: '/admins/get_state_from_country/'+country_id
                                }).done(function(result) {
                                        if (result && result.length) {
                                                var options = '<option value="">State / Province</option>';
                                                for (i=0;i<result.length;i++) {
                                                        options += '<option value="'+result[i].id+'">'+result[i].name+'</option>';
                                                }
                                                state_selector.html(options);
                                        }
                                });
                        }
                });
        </script>
<% end %>
