<div id="footer" class="hidden-print">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-12 first-col">
        <%= image_tag "site-logo-gray-#{WEBSITE_KEY}.png" %>
        <br />
        <br class="hidden-xs hidden-sm" />
        © <%= Time.now.strftime('%Y') %>, <%= COMPANY_OFFICIAL_NAME %>.
        <br class="hidden-xs hidden-sm" />
        All rights reserved
      </div>
      <div class="col-md-6 left-right-border visible-md visible-lg col-padding" style="min-height: 200px;">
        <div class="col-sm-6">
          <% StaticPage.contact_pages.each do |page| %>
              <%= link_to page.title, "/#{page.slug}", :class => 'group-title' %>
          <% end %>

          <% StaticPage.boring_stuff_pages.each do |page| %>
              <%= link_to page.title, "/#{page.slug}", :class => 'group-title' %>
          <% end %>
        </div>
        <div class="col-sm-6">
          <% StaticPage.cool_stuff_pages.each do |page| %>
              <%= link_to page.title, "/#{page.slug}" %>
          <% end %>
        </div>
      </div>
      <div class="col-md-3 col-padding visible-md visible-lg">
        <div class="group-title">FOLLOW US</div>
        <br />

        <a class="facebook-icon" target="_blank" href="<%= SOCIAL_LINK[:FACEBOOK] %>" title="Facebook">
          <i class="fa fa-facebook fa-lg"></i> Facebook
        </a>

        <a class="instagram-icon" target="_blank" href="<%= SOCIAL_LINK[:INSTAGRAM] %>" title="Instagram">
          <i class="fa fa-instagram fa-lg"></i> Instagram
        </a>

        <a class="twitter-icon" target="_blank" href="<%= SOCIAL_LINK[:TWITTER] %>" title="Twitter">
          <i class="fa fa-twitter fa-lg"></i> Twitter
        </a>

        <a class="snapchat-icon" target="_blank" href="<%= SOCIAL_LINK[:SNAPCHAT] %>" title="Snapchat">
          <i class="fa fa-snapchat-ghost fa-lg"></i> Snapchat
        </a>
      </div>
    </div>

  </div>
</div>

