<div class="page-footer-print visible-print">
  <div style="display: inline-block;">
    © <%= Time.now.strftime('%Y') %>, <%= COMPANY_NAME %> Inc.
    <br />
    All rights reserved
  </div>

  <div class="pull-right">
    <i class="fa fa-envelope-o"></i> <%= EMAIL_ADDRESS[:CONTACT] %>
    <br />
    <i class="fa fa-lg fa-phone"></i> <%= CONTACT_PHONE %>
  </div>
</div>
