@import "base/colors";
@import "base/placeholders";
@import "base/mixins";
@import "base/fonts";

#order_summary{
  position: relative;

  .row {
    line-height: normal;
  }

  @media (max-width: 767px) {
    position: inherit;
  }
}

.order-summary-popover{
  left: 0 !important;
  right: 0 !important;
  top: 4px !important;
  margin-left: auto;
  margin-right: auto;

  min-width: 90%;

  @media (max-width: 991px) {
    min-width: 95%;
  }

  @media (max-width: 767px) {
    min-width: 100%;
    top: 50px !important;

    div.arrow{
      left: initial !important;
      right: 70px !important;
    }
  }
}

.order-summary-popover-blur{
  position: fixed;
  top: 65px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $shadow_color2;
}

.order-summary-popover-blur.active{
  left: initial;
  right: 75%;
}

.order-summary{
  padding-top: 15px;
  padding-bottom: 15px;
  background: transparent !important;
  margin: 0 !important;

  .order-summary-header{
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    color: $active_text;
  }

  .order-summary-event-header{
    font-weight:bold;
    padding:5px;
    border: 1px solid $button_text;
    font-size: 1.3em;
    color: $active_text;
  }

  .order-summary-event-checkout{
    padding-top: 10px;
    padding-bottom: 10px;

    .btn{
      font-size: 1.3em;
      min-width: 30%;
    }
  }

  .cart-table{
    .cart-row{
      position: relative;

      &:nth-child(even){
        background-color: $mid_background2 !important;
      }
    }
  }
}

/* notification css */
.notification-popover {
  a:hover { color: $active_text !important; }

  margin-top: 26px !important;
  min-width: 30%;

  @media (max-width: 991px) {
    min-width: 40%;
  }

  .notifications {
    padding:0;
    margin:0;
    li {
      padding: 5px;
      list-style-type: none;
      &.titlebar {
        font-size: 1.5em;
        text-align: center;
        font-weight: bold;
        color: $active_text;
        border-bottom: 1px solid $border_color;
        .settings {
          float: right;
          cursor: pointer;
        }
      }
      &.seeall {
        text-align: center;
        font-size: 12px;
        min-height: 30px;
        text-transform: uppercase;
        position: relative;
        border-top: 1px solid $border_color;
        a {
          background: $main_background;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          padding-top: 8px;
        }
      }
    }
    .notifbox {
      max-height: 300px;
      overflow: auto;
      li {
        &.unread { background: $main_color_2; }
        &.notif {
          min-height: 70px;
          border-bottom: 1px solid $border_color;
          position: relative;
          &:last-child { border-bottom: none; }
          .imageblock {
            position: absolute;
            img {
              height: 60px;
              width: 60px;
            }
          }
          .messageblock {
            width: 75%;
            text-align: left;
            position: relative;
            left: 70px;
            font-size: 12px;
            .message {
              .read_message{ cursor: pointer; }
            }
            .messageaction {
              min-height: 30px;
              margin-bottom: 5px;
              .button {
                font-weight: normal;
                text-transform: uppercase;
                &.success, &.alert { color: $main_background; }
              }
            }
            .messageinfo {
              font-size: 10px;
              color: $border_color;
            }

            .make_read_action {
              width: 20px;
              position: relative;
              left: 5px;
              img {
                height: 60px;
                width: 20px;
              }
            }
          }
          .read_message{
            position: absolute;
            right:5px;
            line-height: 15px;
            .fa-dot-circle-o{
              font-size: 10px;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

/* sign up section */
.sign-up-section{
  background: #F6F6F6;
  min-height: 300px !important;
  margin-right: 10px;
  margin-left: 10px;

  h1 {
    font-weight: 300;
  }

  input[type="text"] {
    margin-bottom: 5px;
  }

  hr{
    background-color: #ddd;
    height: 1px;
    border: 0;
    margin: 55px 0 10px;
  }

  .sign-up-buttons{
    width: 300px;
    font-weight: bold;
    font-size: 1.5em;
    margin: 20px 0;
    padding: 15px 25px;
  }

  .small-link {
    font-size: 12px;
    color: $main_color_2;
    text-transform: uppercase;
  }

  @media(max-width: 767px){
    .sign-up-buttons{
      font-size: 1.2em;
    }
  }
}