@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "base/colors";
@import "base/fonts";
@import "base/mixins";
@import "base/placeholders";
@import "base/components";

body {
  font-family: $main_font;
  font-size: 14px;
  background: $main_background;
  color: $description_text;
}

.push-body-down {
  height: 66px;
}

.push-footer-down {
  margin-bottom: 40px !important;
}

.navbar-fixed-top {
  top: auto;
}

.header {
  margin: 0;
  padding: 1em 0;
  background-color: #fcfcfc;

  .row {
    line-height: 37px;
  }

  .left {
    a {
      margin-right: 20px;
      color: $main_color_3;
    }
  }

  .middle {
    text-align: center;
  }

  .right {
    a {
      color: $main_color_1;
    }

    .link {
      margin-left: 20px;
      cursor: pointer;
    }

    .profile-img {
      height: 35px;
      width: 35px;
      border: solid 1px #ddd;
    }

    .dropdown-toggle:hover, .open .dropdown-toggle {
      background-color: transparent;
    }

    .dropdown-menu {
      @include border-radius(5px !important);
      margin-left: -40px;
    }
  }

  a:hover {
    color: $main_color_2;
  }

  .nav-icon {
    margin-right: -30px;
    padding-left: 15px;
    font-size: 1.4em;
    color: $main_color_1;
  }

  @media (max-width: 767px) {
    padding: 1em 32px 1em 0;

    .middle {
      text-align: left;
    }
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 0.8em !important;
  }
}

.page-title {
  color: $active_text;
  letter-spacing: 3.5px;
  border-bottom: 1px dashed $border_color;
  font-size: 3em;
  font-weight: 300;
  padding: 20px;
  text-align: center;

  .link {
    font-size: 0.4em;
    a {
      color: $main_color_2;
    }
  }

  @media (max-width: 991px) {
    letter-spacing: 2px;
    font-size: 2em;
  }

  @media (max-width: 767px) {
    font-size: 1.5em;
  }
}

/* social network icons */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
  width: 210px;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}

/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}

/* Twitter */
.loginBtn--twitter {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #1bb2e9;
}
.loginBtn--twitter:before {
  border-right: #3377ff 1px solid;
  background: url("https://i.imgur.com/sO5Y2aG.png") 6px 6px no-repeat;
}
.loginBtn--twitter:hover,
.loginBtn--twitter:focus {
  background: #1B8EB8;
}


.fb-login-button {
  background-color: #4267b2;
  color: white;
}

.gg-login-button {
  background-color: #EF5350;
  color: white;
}

.tw-login-button {
  background-color: #4AB3F4;
  color: white;
}

.connect-link {
  text-decoration: underline;
}

.fa-facebook-official {
  color: #3B5998;
}

.fa-google {
  color: #DB4437;
}

.fa-twitter {
  color: #1DA1F2;
}

.facebook-icon:hover {
  color: #46629e;
}

.instagram-icon:hover {
  color: #aa7e65;
}

.twitter-icon:hover {
  color: #40A0D1;
}

.snapchat-icon:hover {
  color: #efe200;
}

//padding
.padding-30 {
  padding: 30px;
}

/* footer */
#footer {
  padding: 30px 0 20px;
  background-color: $main_color_3;

  .first-col {
    margin-top: 40px;
  }

  .group-title {
    color: $active_link;
    text-transform: uppercase;
  }

  .col-padding {
    padding: 10px 40px;
  }

  a {
    display: block;
    margin-bottom: 15px;
    font-size: 1.1em;
    i {
      width: 30px;
      margin-left: 5px;
    }
  }

  @media (max-width: 991px) {
    padding: 20px 0 30px;
    .first-col {
      margin-top: 0;
      text-align: center;
    }
  }
}

/* corner */
.top-left-corner {
  @include border-radius-top-left(4px);
}

.top-right-corner {
  @include border-radius-top-right(4px);
}

.bottom-left-corner {
  @include border-radius-bottom-left(4px);
}

.bottom-right-corner {
  @include border-radius-bottom-right(4px);
}

/* colors */

.red {
  color: $highlight_text;
}

.light-blue {
  color: $main_color_2;
}

.help-icon {
  cursor: pointer;

  &:hover {
    color: $highlight_color;
  }
}

.wide-padding {
  padding: 50px 10%;
}

@media (max-width: 767px) {
  body {
    background-color: #fff;
  }
  .wide-padding {
    padding: 10px 0;
  }
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.video-container {
  iframe {
    width: 890px;
    height: 495px;
    @media (max-width: 767px) {
      width: 100%;
      height: auto;
    }
  }
}

.chart-data {
  box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  background: #f8f8f8;
  position: absolute;
  max-height: 350px;
  max-width: 400px;
  overflow: auto;
  z-index: 9999;
  border-radius: 4px;
  right: 0;
  thead {
    font-weight: bold;
  }
}

.installments-table {
  tr {
    border-bottom: 1px dotted #CCC;
  }

  td {
    border: 0 !important;
  }

  .title-row {
    background: $main_color_1;
    color: $active_link;
  }
}

.view_all_notification {
  .imageblock img {
    width: 60px;
    height: 60px;
  }
  .notification {
    min-height: 60px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    .imageblock {
      float: left;
      margin: 5px 10px 5px 5px;
    }
    .messageblock {
      .message {
        margin-bottom: 10px;
      }
      .messageaction {
        margin-bottom: 10px;
      }
      .messageinfo {
        margin-left: 60px;
      }
    }
    .read_message {
      cursor: pointer;
      float: right;
    }
  }
}

.highlight-row {
  background-color: #F6F7F8;
}

.small-size {
  font-size: 0.9em;
}

.title {
  font-weight: 700;
  font-size: 16px;
  padding: 5px;
}

.nav-dropdown {
  min-width: 160px;
  background: $button_text;
  margin: -4px 15px 0;
  border-radius: 4px;
  border: 1px dotted $main_background;
  cursor: pointer;
  box-shadow: 1px 1px 2px $button_text;

  .dropdown-toggle {
    padding: 6px 10px !important;
  }
  .dropdown-container {
    min-width: 160px;
    position: absolute;
    border: 1px solid $main_background;
    border-top: 1px dashed $main_background;
    background: $button_text;
    margin-left: -1px;
    margin-top: -1px;

    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    a {
      font-size: 13px;
      color: $main_color_3;
      display: block;
      padding: 5px 0 5px 17px;
      &:hover {
        color: $active_link;
        background-color: $main_color_1;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
      }
    }
  }
  .user-info {
    color: #000;
    i {
      float: right;
      margin-top: 3px;
    }
  }

  &:hover {
    border: 1px solid $main_background;
  }

  @media(max-width: 767px) {
    margin-right: 0;
  }
}

/* user profile image when parent class is not table */
.user-profile-img {
  width: 25px;
  height: 25px !important;
  float: left;
  margin-right: 3px;
}

.small-text {
  font-size: 0.8em;
}

.medium-text {
  font-size: 1.1em;
}

.big-text {
  font-size: 1.5em;
}

.multiselect.btn.disabled, .multiselect.btn[disabled] {
  background: #e6e6e6 !important;
  color: #333 !important;
}

tr .sub-table {
  margin: 0;
  thead tr, tr {
    color: #C09853;
    background-color: #FCF8E3;
    border: 1px solid #FBEED5;
    td, th {
      background-color: transparent;
    }
  }
}

.blur-text {
  font-weight: normal;
  color: $description_text;
}

.short-input {
  width: 100px !important;
}

.req {
  color: $highlight_color;
  font-size: 0.7em;
}

.ng-hide {
  display: none;
}

.accepted_redeem_requests {
  margin: 5px 20px 20px 20px;
}

.error-container {
  .error-close-button {
    float: right;
    margin-top: -13px;
    margin-right: -10px;
  }
  .error-title {
    padding-bottom: 10px;
    @extend %border-bottom;
  }
  .error-body {
    margin-left: auto;
    margin-right: auto;
    .error-list {
      text-align: left;
      padding-left: 5px;
      margin: 10px 0 0 10px;
    }
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  display: table;
  margin-left: auto;
  margin-right: auto;
  input {
    border: 1px solid red !important;
  }
  .first_name, .last_name {
    width: 250px !important;
  }
}

#popupSigninSignoutModal {
  .modal-body {
    max-height: calc(100vh - 70px);
    overflow-y: auto;
  }

  @media(min-width: 768px) {
    .modal-dialog {
      position: fixed;
      right: 20px;
      top: 36px;

      &:before {
        bottom: 99%;
        left: 69%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }

      &:before {
        border: 16px solid rgba(194, 225, 245, 0);
        border-bottom-color: black;
        margin-left: -16px;
      }
    }

    .modal-body {
      max-height: calc(100vh - 130px);
      overflow-y: auto;
    }
  }
}

.popover {
  font-family: $main_font;
}

/* Process bar */
.wizard-progress {
  list-style: none;
  margin: 0 -15px;
  padding: 0;
  display: inline-block;
  text-align: center;

  li {
    float: left;
    text-align: center;
    position: relative;
    width: 120px;
    margin-left: 10px;

    .step-num {
      color: $active_link;
      font-size: 1.5em;
      font-weight: bold;
      background: $shadow_color;
      border-radius: 50%;
      width: 50px;
      line-height: 50px;
      display: inline-block;
      margin-top: 0;

      &:before {
        content: "..";
        display: block;
        font-size: 2em;
        position: absolute;
        top: -10px;
        right: 90%;
        color: $shadow_color;
        letter-spacing: 5px;
      }
    }

    .step-name {
      display: block;
      padding: 5px 0;
      vertical-align: bottom;
      text-align: center;
      color: $shadow_color;
    }

    &:first-child {
      margin-left: 0;

      .step-num:before {
        display: none;
      }
    }
  }

  .highlight-step {
    .step-num {
      background-color: $highlight_color;

      &:before {
        color: $highlight_color;
      }
    }
  }

  .active-step {
    .step-num {
      background-color: $info_color;

      &:before {
        color: $info_color;
      }
    }

    .step-name {
      color: $text_color_1;
    }
  }

  .completed-step {
    .step-num {
      background-color: $success_color;

      &:before {
        color: $success_color;
      }
    }

    .step-name {
      color: $text_color_1;
    }
  }

  @media (max-width: 767px) {
    li {
      width: 70px;
      font-size: 0.9em;
      margin-left: 5px;

      .step-num {
        width: 40px;
        line-height: 40px;

        &:before {
          letter-spacing: 0;
        }
      }
    }
  }
}

.dynamic-modal {
  .modal-dialog {
    .modal-header {
      background: white;
      border-radius: 5px 5px 0 0;
    }

    .modal-content {
      padding: 15px;
      border-radius: 0 0 5px 5px;
      display: inline-block;
      border: 0;
      width: 100%;
      max-height: calc(100vh - 150px);
      overflow-y: auto;
    }
  }
}

.step-content {
  background: #fff;

  .step-title {
    font-size: 1.8em;
    text-align: center;
    margin-top: 40px;
  }

  .step-links {
    height: 20px;
    font-size: 1.2em;
    a {
      font-weight: bold;
      color: $main_color_1;
    }
    a.pull-left {
      display: inline-block;
      margin-right: 10px;
    }

    a.pull-right {
      display: inline-block;
      margin-left: 10px;
    }
  }

  @media (max-width: 767px) {
    .step-title {
      font-size: 1.5em;
      margin-bottom: 10px;
    }

    .step-links {
      font-size: 1em;
    }
  }
}

.lockModal {
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;

  img {
    position: relative;
    top: 50%;
    margin-top: -50px;
  }
}

#yield_container {
  min-height: calc(100vh - 409px);
}

.warning-normal {
  color: $highlight_color;
  font-size: 1.4em;
  margin: 20px 0;
  text-align: center;
}

.warning-small {
  color: $highlight_color;
  margin-top: 25px;
  border-top: 1px dashed $border_color;
  font-size: 1em;
}

.flight-terms {
  h4 {
    color: $highlight_color;
  }
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
  color: $disabled_text;

  &.form-control {
    color: $description_text
  }
}

@media (max-width: 767px) {
  .fuelux {
    .wizard {
      border: 0;

      .steps-container {
        ul.steps {
          width: 100%;

          li {
            padding: 0 0 0 25px;
          }
        }
      }

      .step-content {
        padding: 0;
      }
    }
  }

  #yield_container {
    min-height: calc(100vh - 174px);
  }

  .warning-normal {
    font-size: 1.1em;
  }
}

@media (min-width: 768px) AND (max-width: 1023px) {
  #yield_container {
    min-height: calc(100vh - 172px);
  }
}