@import "base/colors";
@import "base/placeholders";

/* user profile style */

#user_profile {
  padding-top: 15px;

  .tab-wrap {
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
    max-width: 5000px !important;

    .nav-tabs {
      @media (max-width: 460px) {
        li.active {
          a {
            color: $active_text !important;
          }
        }
      }

      li.incomplete {
        a {
          color: $highlight_color !important;
        }
      }
    }
  }

  .tab-passport {
    overflow: visible;
  }

  #order_list {

    th {
      background-color: $border_color;
    }

    tr td {
      background-color: $main_background;
    }

    tr:nth-child(4n+1) td,
    tr:nth-child(4n+2) td {
      background-color: $mid_background2;
      td {
        background-color: $mid_background2;
      }
    }

    tr.moredetail {
      td {
        padding: 0;
      }

      label {
        margin-bottom: 0;
        color: $text_color_2;
        font-weight: bold;
      }

      .row {
        background-color: $main_color_3;
        color: $link_color;
        font-size: 0.8em;
        font-weight: normal;
        line-height: 25px;

        div {
          padding: 8px 5px;
        }

        div:first-child {
          padding-left: 25px;
        }

        div:last-child {
          padding-right: 23px;
        }
      }

      .triangle {
        height: 10px;
        position: relative;

        > div {
          border-bottom: 10px solid $main_color_3;
          border-top: 10px solid transparent;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          width: 0;
          height: 0;
          margin-left: auto;
          margin-right: auto;
          position: absolute;
          top: -10px;
          left: 0;
          right: 0;
        }
      }
    }
  }

  th {
    padding: 9px 20px 8px 8px;
  }
}

.user-profile {
  background-color: $mid_background;
  font-size: 1.1em;
  margin: 20px auto 5px;

  img {
    width: 120px;
    height: 120px;
  }

  .ribbon {
    top: 10px;
    right: -60px;
  }

  .edit-profile-link {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 0.8em;
    text-transform: uppercase;
    text-decoration: underline;
    z-index: 1;
  }

  p {
    margin-bottom: 5px;
  }

  @media (max-width: 767px) {

    font-size: 1em;

    .profile-info {
      padding: 15px 0;
    }

    .edit-profile-link {
      top: -15px;
      font-weight: bold;
    }

    .ribbon {
      top: 8px;
      right: -25px;
    }

    img {
      width: 100%;
      height: 100%;
      padding: 15px 7px;
    }
  }
}

/* affiliate */

.become-affiliate-link {
  color: $main_color_2;
  cursor: pointer;
}

#affiliate-help-icon {
  cursor: pointer;

  &:hover {
    color: $highlight_color;
  }
}

.system-clock {
  border-top: 1px dashed $border_color;
  border-bottom: 1px dashed $border_color;
  padding: 10px 0;
  margin: 20px 0;
  color: $active_text;
  font-size: 0.9em;
}

/*overwrite file-picker upload picture button */
.fp__btn {
  background-image: none !important;
  height: auto !important;;
  padding: 4px 10px !important;
  font-family: inherit !important;
}

/* Settings page */

.form-wrapper {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 80px;
}

.offline-checkin {
  margin-top: 5px;
  border: 2px dashed;

  .offline-checkin-header {
    text-align: center;
  }

  @media (max-width: 767px) {
    border: none;

    .offline-checkin-header {
      text-align: left;
    }
  }
}

/* index page */

.clear {
  clear: both;
}

@media (max-width: 767px) {
  .dashboard_group {
    .filter_group {
      float: none !important;
      padding: 30px 0;
      margin: 0;
    }
    .checkbox {
      margin-left: 0;
      margin-right: 10px;
    }
  }
}

.review_image img {
  width: 100%;
  max-height: 100px;
  box-shadow: 5px 5px 5px #bbb;
  @media(max-width: 767px) {
    max-height: 150px;
  }
  @media(max-width: 460px) {
    max-height: 300px;
  }
}

.review_rating {
  line-height: 30px;
  padding-top: 5px;
}

.review_rating .on {
  background: image-url("raty/star-on.png") 100% 100%;
  width: 16px;
  height: 16px;
  display: inline-block;
}

.review_rating .off {
  background: image-url("raty/star-off.png") 100% 100%;
  width: 16px;
  height: 16px;
  display: inline-block;
}

.review_info {
  width: 93%;
  border: 1px solid #bbb;
  display: inline-block;
  padding: 1% 2%;
  margin: 0 0 0 3%;
}

.review_info .date {
  color: $description_text;
  font-style: italic;
  font-size: 11px;
}

.review_info p {
  font-size: 14px;
  overflow: auto;
  margin: 3px 0 0;
  padding: 1px;
  line-height: normal;
}

.review_info p:first-child, .review_info p:last-child {
  text-align: left;
  overflow: none;
}

/* edit page */

.profile-pic {
  padding-bottom: 30px;
}

.parent_row {
  background-color: gray;
  cursor: pointer;
  color: white;
}

.parent_row a {
  color: white;
}

.orphan-section {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 16px;

  dt {
    display: inline-block;
  }

  .right-30 {
    margin-right: 30px;
  }

  @media(max-width: 767px) {
    font-size: 15px;

    .right-30 {
      margin-right: 10px;
    }
  }

}

.affiliate-works {
  display: none;
  padding: 10px;
  border-radius: 5px;
  background: whitesmoke;
  margin-bottom: 15px;
  border: 1px solid #b0bcdd;
}

#signup-form {
  .last_name {
    text-align: right;
  }

  .email-group{
    margin-bottom: 15px;
  }

  .input-group{
    margin-bottom: 15px;

    input {
      border-radius: 5px 0 0 5px;
    }
  }

  @media(max-width: 460px) {
    .last_name {
      text-align: left;
    }
  }
}

.error-list {
  li {
    a {
      font-size: 12px;
    }
  }
}

.images-wrapper {
  .box {
    float: left;
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;

    .box-title {
      position: absolute;
      color: $active_link;
      margin-top: -1em;
      font-size: 0.9em;
      width: 100%;
    }

    img {
      width: 100%;
    }
  }
}

.done-schedule-row {
  background: $button_text;
  td {
    background: transparent !important;
  }
}

.scheduled-row {
  background: $button_text;
  td {
    background: $trans !important;
  }
}

#rc-imageselect, .g-recaptcha {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.csb_room_other_options_group {
  margin-top: 3em;
  border-top: 2px dashed $link_color;
}

/* signup signin popup */
#signup-signin-container {
  .form-control {
    border-color: #E2E2E2;
    margin-top: -1px;
    border-radius: 0;
  }
  @media (max-width: 460px) {
    .nav-tabs li {
      display: block;
      width: 45%;
    }
  }
  .modal-header {
    background-color: black;
    padding: 5px 15px;
  }

  .nav-tabs {
    border: 0;
    padding: 0;
    margin: 0;
  }

  .nav-tabs li a:hover {
    color: $link_color !important;
  }

  .nav-tabs li:first-child a, .nav-tabs li.active a, .nav-tabs li a {
    color: $link_color !important;
    font-weight: bold;
    font-size: 13px !important;
    border: 0 !important;
    background-color: black !important;
  }

  .nav-tabs li.active a {
    color: white !important;
  }
  input, .input-group {
    width: 100%;
  }
  .submit-login-button {
    width: 9em;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .modal-body {
    text-align: center;
    padding: 30px;
  }
  .strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 15px;
    margin-bottom: 15px;
    span {
      position: relative;
      display: inline-block;
      font-size: 10px;
      font-weight: 900;
    }
    span:before, span:after {
      content: "";
      position: absolute;
      top: 50%;
      width: 9999px;
      height: 1px;
      background: $link_color;
    }
    span:before {
      right: 100%;
      margin-right: 15px;
    }
    span:after {
      left: 100%;
      margin-left: 15px;
    }
  }
  .profile-information-container {
    text-align: left;
    margin-bottom: 15px;
    color: $description_text;
    font-size: 0.9em;
    .profile-information-header {
      font-weight: bold;
      font-size: 1.4em;
    }
  }
  .optional_phone {
    margin-left: -40px !important;
    margin-top: 10px !important;
    line-height: 20px;
    position: absolute;
    cursor: pointer;
    color: blue;
    font-size: 0.9em;
    z-index: 3;
  }
  .field_with_errors {
    width: 100%;
    padding: 0;
  }
  .field_with_errors .form-control {
    margin-top: 0;
    margin-bottom: 1px;
  }
  .input-group {
    .field_with_errors {
      display: block;
    }
    &.date {
      select {
        width: 33.3%;
      }
      label {
        width: 100%;
        text-align: left;
      }
    }
  }
}

.role-list-item {
  span {
    cursor: default;
    padding: 2px 5px;
    white-space: nowrap;
    margin: 2px;
    border: 1px solid #156090;
    background: #186ba0;
    color: #FFFFFF;
    border-radius: 3px;
  }
}

.role-name {
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom: 1px dashed #ccc;
  font-weight: bold;

  .name {
    color: $main_color_1;
  }

  .selected {
    color: $highlight_color;
  }

  @media(max-width: 767px) {
    line-height: 35px;
  }
}

.group-collapse {
  cursor: pointer;

  &:hover {
    color: $main_color_2;
  }
}