@import "base/colors";

#wpadminbar * {
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
  position: static;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: none;
  transition: none;
  -webkit-font-smoothing: subpixel-antialiased; /* Prevent Safari from switching to standard antialiasing on hover */
  -moz-osx-font-smoothing: auto; /* Prevent Firefox from inheriting from themes that use other values */
}

#wpadminbar a.ab-item,
#wpadminbar > #wp-toolbar span.ab-label,
#wpadminbar > #wp-toolbar span.noticon {
  color: #eee;
}

#wpadminbar #wp-admin-bar-site-name a.ab-item,
#wpadminbar #wp-admin-bar-my-sites a.ab-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight:bold;
}

#wpadminbar ul li:before,
#wpadminbar ul li:after {
  content: normal;
}

#wpadminbar a,
#wpadminbar a:hover,
#wpadminbar a img,
#wpadminbar a img:hover {
  outline: none;
  border: none;
  text-decoration: none;
  background: none;
}

#wpadminbar a:focus,
#wpadminbar a:active,
#wpadminbar div {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

#wpadminbar {
  direction: ltr;
  color: #ccc;
  height: 32px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 600px; /* match the min-width of the body in wp-admin.css */
  z-index: 1040;
  background: $main_color_3;
}

#wpadminbar .ab-sub-wrapper,
#wpadminbar ul,
#wpadminbar ul li {
  background: none;
  clear: none;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  text-indent: 0;
  z-index: 99999;
}

#wpadminbar ul#wp-admin-bar-root-default>li {
  margin-right: 0;
}

#wpadminbar .quicklinks ul {
  text-align: left;
}

#wpadminbar li {
  float: left;
}

#wpadminbar .ab-empty-item {
  outline: none;
}

#wpadminbar .quicklinks a,
#wpadminbar .quicklinks .ab-empty-item,
#wpadminbar .shortlink-input {
  height: 32px;
  display: block;
  padding: 0 10px;
  margin: 0;
  line-height: 32px;
}

#wpadminbar .menupop .ab-sub-wrapper,
#wpadminbar .shortlink-input {
  margin: 0;
  padding: 0;
  -webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.2);
  box-shadow: 0 3px 5px rgba(0,0,0,0.2);
  background: #84a9cf;
  display: none;
  position: absolute;
  float: none;
}

#wpadminbar.ie7 .menupop .ab-sub-wrapper,
#wpadminbar.ie7 .shortlink-input {
  top: 32px;
  left: 0;
}

#wpadminbar .ab-top-menu > .menupop > .ab-sub-wrapper {
  min-width: 100%;
}

#wpadminbar .ab-top-secondary .menupop .ab-sub-wrapper {
  right: 0;
  left: auto;
}

#wpadminbar .ab-submenu {
  padding: 6px 0;
}

#wpadminbar .selected .shortlink-input {
  display: block;
}

#wpadminbar .quicklinks .menupop ul li .ab-item,
#wpadminbar .quicklinks .menupop.hover ul li .ab-item,
#wpadminbar.nojs .quicklinks .menupop:hover ul li .ab-item,
#wpadminbar .shortlink-input {
  line-height: 26px;
  height: 26px;
  white-space: nowrap;
  min-width: 140px;
}

#wpadminbar .shortlink-input {
  width: 200px;
}

#wpadminbar.nojs li:hover > .ab-sub-wrapper,
#wpadminbar li.hover > .ab-sub-wrapper {
  display: block;
}

#wpadminbar .menupop li.hover > .ab-sub-wrapper {
  margin-left: 100%;
  margin-top: -32px;
}

#wpadminbar .ab-top-secondary .menupop li.hover > .ab-sub-wrapper {
  margin-left: 0;
  left: inherit;
  right: 100%;
}

#wpadminbar .ab-top-menu > li > .ab-item:focus,
#wpadminbar .ab-top-menu > li:hover > .ab-item,
#wpadminbar .ab-top-menu > li.hover > .ab-item {
  background: #84a9cf;
  color: #fff;
}

#wpadminbar > #wp-toolbar li.hover span.ab-label,
#wpadminbar > #wp-toolbar a:focus span.ab-label {
  color: #fff;
}

#wpadminbar > #wp-toolbar > #wp-admin-bar-root-default .ab-icon,
#wpadminbar .ab-icon,
#wpadminbar .ab-item:before {
  position: relative;
  float: left;
  font: normal 20px/1 'FontAwesome';
  speak: none;
  padding: 4px 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: none !important;
  margin-right: 6px;
}

#wpadminbar .ab-icon:before,
#wpadminbar .ab-item:before {
  color: #a0a5aa;
  color: rgba(240,245,250,0.6);
  position: relative;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

#wpadminbar .ab-label {
  display: inline-block;
  height: 32px;
}

#wpadminbar .ab-submenu .ab-item {
  color: #fff;
}

#wpadminbar .quicklinks .menupop ul li a{color: #fff;}
#wpadminbar .quicklinks .menupop ul li a:hover{color: $button_text; text-shadow: 1px 1px $active_text;}

#wpadminbar .menupop .menupop > .ab-item:before,
#wpadminbar .ab-top-secondary .menupop .menupop > .ab-item:before {
  position: absolute;
  font: normal 17px/1 'FontAwesome';
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#wpadminbar .menupop .menupop > .ab-item {
  display: block;
  padding-right: 2em;
}

#wpadminbar .menupop .menupop > .ab-item:before {
  top: 1px;
  right: 4px;
  content: '\f139';
  color: inherit;
}

#wpadminbar .ab-top-secondary .menupop .menupop > .ab-item {
  padding-left: 2em;
  padding-right: 1em;
}

#wpadminbar .ab-top-secondary .menupop .menupop > .ab-item:before {
  top: 5px;
  left: 3px;
  content: '\f141';
}

#wpadminbar .ab-top-secondary {
  float: right;
}

#wpadminbar ul li:last-child,
#wpadminbar ul li:last-child .ab-item {
  -webkit-box-shadow: none;
  box-shadow: none;
}

#wpadminbar #wp-admin-quick-search {

  .input-group {
    margin-top: 4px;
    margin-left: 10px;
  }

  .form-control {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 1px 6px;
  }

  .dropdown-toggle {
    width:25px;
    height:22px;
  }

  ul.dropdown-menu{
    position: absolute;
    top: 100%;
    left: 8px;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);

    li {
      display: list-item;
      float:none;
      text-align: -webkit-match-parent;

      &:hover{
        background: #efe;
      }
    }
  }

  .dropdown-menu>li>span{
    i {
      margin-left: -20px;
    }
    display: block;
    padding: 3px 30px;
    color: #333;
    cursor: pointer;
  }

  .btn-primary {
    padding: 1px 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #ccc;
    border-color: #ccc;
    color: $main_color_1;

    &:hover {
      color: #fff;
      background-color: $highlight_color;
      border-color: $highlight_color;
    }
  }
}

/**
 * My Account
 */
#wp-admin-bar-my-account > ul {
  min-width: 198px;
}

#wp-admin-bar-my-account > .ab-item:before {
  content: "\f110";
  top: 2px;
  float: right;
  margin-left: 6px;
  margin-right: 0;
}

#wp-admin-bar-my-account.with-avatar > .ab-item:before {
  display: none;
  content: none;
}

#wp-admin-bar-my-account.with-avatar > ul {
  min-width: 270px;
}

#wpadminbar.ie8 #wp-admin-bar-my-account.with-avatar .ab-item {
  white-space: nowrap;
}

#wpadminbar #wp-admin-bar-user-actions > li {
  margin-left: 16px;
  margin-right: 16px;
}

#wpadminbar #wp-admin-bar-user-actions.ab-submenu {
  padding: 6px 0 12px;
}

#wpadminbar #wp-admin-bar-user-info {
  margin-top: 6px;
  height: auto;
  background: none;
  .default_img{
    width:100%;height:140px;
    @media screen and (max-width: 767px){width:auto;}
  }

  img {
    width: 200px;
    @media screen and (max-width: 767px){width:100%;}
  }
}

#wpadminbar #wp-admin-bar-user-info a {
  background: none;
  height: auto;
}

#wpadminbar #wp-admin-bar-user-info span {
  background: none;
  padding: 0;
  height: 18px;
}

#wpadminbar #wp-admin-bar-user-info .username {
  color: #999;
  font-size: 11px;
}

#wpadminbar #wp-admin-bar-my-account.with-avatar > a img {
  width: auto;
  height: 16px;
  padding: 0;
  border: 1px solid #82878c;
  background: #eee;
  line-height: 24px;
  vertical-align: middle;
  margin: -4px 0 0 6px;
  float: none;
  display: inline;
}

#wpadminbar.ie8 #wp-admin-bar-my-account.with-avatar > a img {
  width: auto;
}

/**
  Logo
 */
#wpadminbar #wp-admin-bar-wp-logo > .ab-item .ab-icon {
  width: 15px;
  height: 20px;
  margin-right: 0;
  padding: 6px 0 5px;
}

#wpadminbar #wp-admin-bar-wp-logo > .ab-item {
  padding: 0 6px;
  background-size: 100% 100%;
}

#wpadminbar .quicklinks li .blavatar {
  float: left;
  font: normal 16px/1 'FontAwesome' !important;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #eee;
}

#wpadminbar .quicklinks li a:hover .blavatar { color: #00b9eb; }

#wpadminbar .quicklinks li .blavatar:before {
  content: '\f120';
  height: 16px;
  width: 16px;
  display: inline-block;
  margin: 6px 8px 0 -2px;
}

#wpadminbar #wp-admin-bar-appearance {
  margin-top: -12px;
}

#wpadminbar #wp-admin-bar-my-sites > .ab-item:before,
#wpadminbar #wp-admin-bar-site-name > .ab-item:before {
  top: 2px;
}

#wpadminbar #wp-admin-bar-site-name > .ab-item:before {
  @media(max-width: 767px){
    content: "\f015";
  }
}

#wpadminbar #wp-admin-bar-comments .ab-icon {
  margin-right: 6px;
}

#wpadminbar #wp-admin-bar-comments .ab-icon:before {
  content: "\f0e5";
  top: 3px;
}

#wpadminbar #wp-admin-bar-comments .count-0 {
  opacity: .5;
}

#wpadminbar #wp-admin-bar-new-content .ab-icon:before {
  content: '\f067';
  top: 4px;
}

#wpadminbar #wp-admin-bar-on-behalf .ab-icon:before{
  content: '\f183';
  top: 3px;
}

/* Skip link */
#wpadminbar .screen-reader-text,
#wpadminbar .screen-reader-text span {
  position: absolute;
  left: -1000em;
  top: -1000em;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/**
 * IE 6-targeted rules
 */
* html #wpadminbar {
  overflow: hidden;
  position: absolute;
}

* html #wpadminbar .quicklinks ul li a {
  float: left;
}

* html #wpadminbar .menupop a span {
  background-image: none;
}

@media screen and ( max-width: 767px ) {
  html #wpadminbar {
    height: 46px;
    min-width: 300px;
  }

  #wpadminbar * {
    font: normal 14px/32px;
  }

  #wpadminbar .quicklinks > ul > li > a {
    padding: 0;
    height: 46px;
    line-height: 46px;
    width: auto;
  }

  #wpadminbar .ab-icon {
    font: 40px/1 FontAwesome !important;
    margin: 0;
    padding: 0;
    width: 46px;
    height: 46px;
    text-align: center;
  }

  #wpadminbar .ab-icon:before {
    text-align: center;
  }

  #wpadminbar .ab-submenu {
    padding: 0;
  }

  #wpadminbar #wp-admin-bar-site-name a.ab-item,
  #wpadminbar #wp-admin-bar-my-sites a.ab-item,
  #wpadminbar #wp-admin-bar-my-account a.ab-item {
    text-overflow: clip;
  }

  #wpadminbar #wp-admin-quick-search{
    display: none;
  }

  #wpadminbar .ab-label {
    display: none;
  }

  #wpadminbar .menupop li:hover > .ab-sub-wrapper,
  #wpadminbar .menupop li.hover > .ab-sub-wrapper {
    margin-top: -46px;
  }

  #wpadminbar .ab-top-menu .menupop .ab-sub-wrapper .menupop > .ab-item {
    padding-right: 30px;
  }

  #wpadminbar .menupop .menupop > .ab-item:before {
    top: 10px;
    right: 6px;
  }

  #wpadminbar .ab-top-menu > .menupop > .ab-sub-wrapper .ab-item {
    font-size: 16px;
    padding: 6px 15px 12px;
  }

  #wpadminbar .ab-top-menu > .menupop > .ab-sub-wrapper a:empty {
    display: none;
  }

  /* WP logo */
  #wpadminbar #wp-admin-bar-wp-logo > .ab-item {
    padding: 0;
  }

  #wpadminbar #wp-admin-bar-wp-logo > .ab-item .ab-icon {
    padding: 0;
    width: 46px;
    height: 46px;
    text-align: center;
    vertical-align: top;
  }

  #wpadminbar #wp-admin-bar-wp-logo > .ab-item .ab-icon:before {
    font: 28px/1 'FontAwesome' !important;
    top: -3px;
  }

  #wpadminbar .ab-icon,
  #wpadminbar .ab-item:before {
    padding: 0;
  }

  /* My Sites and "Site Title" menu */
  #wpadminbar #wp-admin-bar-my-sites > .ab-item,
  #wpadminbar #wp-admin-bar-site-name > .ab-item,
  #wpadminbar #wp-admin-bar-my-account > .ab-item {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    width: 52px;
    padding: 0;
    color: #999;
    position: relative;
  }

  #wpadminbar > #wp-toolbar > #wp-admin-bar-root-default .ab-icon,
  #wpadminbar .ab-icon,
  #wpadminbar .ab-item:before {
    padding: 0;
    margin-right: 0;
  }

  #wpadminbar #wp-admin-bar-my-sites > .ab-item:before,
  #wpadminbar #wp-admin-bar-site-name > .ab-item:before,
  #wpadminbar #wp-admin-bar-my-account > .ab-item:before {
    display: block;
    text-indent: 0;
    font: normal 40px/1 'FontAwesome';
    speak: none;
    top: 7px;
    width: 52px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  #wpadminbar #wp-admin-bar-appearance {
    margin-top: 0;
  }

  #wpadminbar .quicklinks li .blavatar:before {
    display: none;
  }

  #wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar > a img {
    position: absolute;
    top: 13px;
    right: 10px;
    width: 26px;
    height: 26px;
  }

  /* New Content */
  #wpadminbar #wp-admin-bar-new-content .ab-icon:before {
    top: 0;
    line-height: 53px;
    height: 46px !important;
    text-align: center;
    width: 46px;
    display: block;
  }

  /* Comments */
  #wpadminbar #wp-admin-bar-comments .ab-icon {
    margin: 0;
  }

  #wpadminbar #wp-admin-bar-comments .ab-icon:before {
    display: block;
    font-size: 34px;
    height: 46px;
    line-height: 47px;
    top: 0;
  }

  /* My Account */
  #wpadminbar #wp-admin-bar-my-account > a {
    position: relative;
    white-space: nowrap;
    text-indent: 150%; /* More than 100% indention is needed since this element has padding */
    width: 28px;
    padding: 0 10px;
    overflow: hidden; /* Prevent link text from forcing horizontal scrolling on mobile */
  }

  #wpadminbar #wp-admin-bar-user-actions.ab-submenu {
    padding: 0;
  }

  #wpadminbar #wp-admin-bar-user-actions.ab-submenu img.avatar {
    display: none;
  }

  #wpadminbar #wp-admin-bar-user-info a {
    padding-top: 14px;
  }

  #wpadminbar #wp-admin-bar-user-info .username {
    line-height: 0.8 !important;
    margin-bottom: -2px;
  }

  /* Show only default top level items */
  #wp-toolbar > ul > li {
    display: none;
  }

  #wpadminbar li#wp-admin-bar-menu-toggle,
  #wpadminbar li#wp-admin-bar-wp-logo,
  #wpadminbar li#wp-admin-bar-my-sites,
  #wpadminbar li#wp-admin-bar-site-name,
  #wpadminbar li#wp-admin-bar-new-content,
  #wpadminbar li#wp-admin-bar-on-behalf,
  #wpadminbar li#wp-admin-bar-comments,
  #wpadminbar li#wp-admin-bar-my-account {
    display: block;
  }

  /* Allow dropdown list items to appear normally */
  #wpadminbar li.hover ul li,
  #wpadminbar li:hover ul li:hover ul li {
    display: list-item;
  }

  /* Override default min-width so dropdown lists aren't stretched to 100% viewport width at responsive sizes. */
  #wpadminbar .ab-top-menu > .menupop > .ab-sub-wrapper {
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
  }

  #wpadminbar ul#wp-admin-bar-root-default > li {
    margin-right: 0;
  }

  /* Experimental fix for touch toolbar drop down positioning */
  #wpadminbar .ab-top-menu,
  #wpadminbar .ab-top-secondary,
  #wpadminbar #wp-admin-bar-wp-logo,
  #wpadminbar #wp-admin-bar-my-sites,
  #wpadminbar #wp-admin-bar-site-name,
  #wpadminbar #wp-admin-bar-comments,
  #wpadminbar #wp-admin-bar-new-content,
  #wpadminbar #wp-admin-bar-my-account {
    position: static;
  }

  #wpadminbar #wp-admin-bar-my-account {
    float: right;
  }

  .network-admin #wpadminbar ul#wp-admin-bar-top-secondary > li#wp-admin-bar-my-account {
    margin-right: 0;
  }

  /* Realign arrows on taller responsive submenus */

  #wpadminbar .ab-top-secondary .menupop .menupop > .ab-item:before {
    top: 10px;
    left: 0;
  }
}

/* Smartphone */
@media screen and (max-width: 767px) {
  #wpadminbar {
    position: absolute;
  }

  #wp-responsive-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 400;
  }

  #wpadminbar .ab-top-menu > .menupop > .ab-sub-wrapper {
    width: 100%;
    left: 0;
  }

  #wpadminbar .menupop .menupop > .ab-item:before {
    display: none;
  }

  #wpadminbar #wp-admin-bar-wp-logo.menupop .ab-sub-wrapper {
    margin-left: 0;
  }

  #wpadminbar .ab-top-menu > .menupop li > .ab-sub-wrapper {
    margin: 0;
    width: 100%;
    top: auto;
    left: auto;
    position: relative;
  }

  #wpadminbar .ab-top-menu > .menupop li > .ab-sub-wrapper .ab-item {
    font-size: 16px;
    padding: 6px 15px 19px 30px;
  }

  #wpadminbar li:hover ul li ul li {
    display: list-item;
  }

  #wpadminbar li#wp-admin-bar-wp-logo {
    display: none;
  }

  /* Make submenus full-width at this size */

  #wpadminbar .ab-top-menu > .menupop li > .ab-sub-wrapper {
    position: static;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}


#adminmenu ul{ margin:0; }

#wpwrap {
  height: auto;
  min-height: 100%;
  width: 100%;
  position: relative;
  -webkit-font-smoothing: subpixel-antialiased;
}

#wpcontent { height: 100%; }

#wpcontent, #wpfooter {
  margin-left: 160px;
}

.folded #wpcontent, .folded #wpfooter {
  margin-left: 36px;
}

#wpbody-content {
  padding-bottom: 65px;
  float: left;
  width: 100%;
  overflow: visible!important;

  .container{
    width: 94% !important;
    margin: auto;
  }
}

.clear {
  clear: both;
}

#adminmenu a:focus, .screen-reader-text:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
}

html.wp-toolbar {
  padding-top: 32px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#adminmenu .wp-submenu li.current, #adminmenu .wp-submenu li.current a, #adminmenu .wp-submenu li.current a:hover, #dashboard_right_now .versions .b, #ed_reply_toolbar #ed_reply_strong, #pass-strength-result.short, #pass-strength-result.strong, #post-status-display, #post-visibility-display, .feature-filter .feature-name, .item-controls .item-order a, .media-item .percent, .plugins .name {
  font-weight: 600;
}
@media screen and (max-width:767px) {
  html.wp-toolbar {
    padding-top: 46px;
  }
  #wpcontent {
    position: relative;
    margin-left: 0;
    padding-left: 10px;
  }
  #wpbody-content {
    padding-bottom: 100px;

    .container {
      width: 100% !important;
      padding: 0;
    }

    .row {
      margin-left: 0;
      margin-right: 0;
    }

    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .wrap {
    margin-right: 12px;
    margin-left: 0;
  }
  .col-wrap {
    padding: 0;
  }
  #collapse-menu, #screen-meta, #screen-meta-links, .post-format-select {
    display: none!important;
  }
  .wrap .add-new-h2, .wrap .add-new-h2:active {
    padding: 10px 15px;
    font-size: 14px;
  }
  .wp-color-result {
    height: auto;
    padding-left: 45px;
  }
  .wp-color-result:after {
    font-size: 14px;
    height: auto;
    padding: 6px 14px;
  }
  .wrap .icon32+h2 {
    margin-top: -2px;
  }
  .wp-responsive-open #wpbody {
    right: -190px;
  }
  .subsubsub {
    font-size: 16px;
    text-align: center;
    margin-bottom: 15px;
  }
}
@media screen and (max-width:767px) {
  #wpwrap.wp-responsive-open {
    overflow: hidden;
  }
  html.wp-toolbar {
    padding-top: 0;
  }
  #wpbody {
    padding-top: 46px;
  }
}

#adminmenu, #adminmenu .wp-submenu, #adminmenuback, #adminmenuwrap {
   width: 160px;
   background-color: $main_color_3;
}
#adminmenuback {
  position: fixed;
  top: 0;
  bottom: -120px;
  z-index: 999;
}
#adminmenu {
  clear: left;
  padding: 0;
  margin-bottom: 0;
  list-style: none;
}
.folded #adminmenu, .folded #adminmenu li.menu-top, .folded #adminmenuback, .folded #adminmenuwrap {
  width: 36px;
}
#adminmenuwrap {
  position: relative;
  float: left;
  z-index: 1040;
}
#adminmenu * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#adminmenu li {
  margin: 0;
  padding: 0;
  cursor: pointer;
}
#adminmenu a {
  display: block;
  line-height: 18px;
  padding: 2px 5px;
  color: #eee;
}
#adminmenu .wp-submenu a {
  color: #b4b9be;
  color: rgba(240, 245, 250, .7);
}
#adminmenu .wp-submenu a:focus, #adminmenu .wp-submenu a:hover {
  background: 0 0;
}
#adminmenu .wp-submenu a:focus, #adminmenu .wp-submenu a:hover, #adminmenu a:hover, #adminmenu li.menu-top>a:focus {
  color: #fff;
}
#adminmenu li.menu-top {
  border: none;
  min-height: 34px;
  position: relative;
}
#adminmenu .wp-submenu {
  list-style: none;
  position: absolute;
  top: -1000em;
  left: 160px;
  overflow: visible;
  word-wrap: break-word;
}
#adminmenu .wp-submenu, .folded #adminmenu .wp-has-current-submenu .wp-submenu, .folded #adminmenu a.wp-has-current-submenu:focus+.wp-submenu {
  padding: 7px 0 8px;
  z-index: 9999;
  background-color: $description_text;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
}
#adminmenu a.menu-top:focus+.wp-submenu, .js #adminmenu .opensub .wp-submenu, .js #adminmenu .sub-open, .no-js li.wp-has-submenu:hover .wp-submenu {
  top: -1px;
}
#adminmenu .wp-has-current-submenu .wp-submenu, #adminmenu .wp-has-current-submenu .wp-submenu.sub-open, #adminmenu .wp-has-current-submenu.opensub .wp-submenu, #adminmenu a.wp-has-current-submenu:focus+.wp-submenu, .no-js li.wp-has-current-submenu:hover .wp-submenu {
  position: relative;
  z-index: 3;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  border: 0;
  margin-top: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: $description_text;
}
#adminmenu li.menu-top:hover, #adminmenu li.opensub>a.menu-top, #adminmenu li>a.menu-top:focus {
  position: relative;
  background-color: #84a9cf;
  color: #fff;
}
.folded #adminmenu li.menu-top:hover, .folded #adminmenu li.opensub>a.menu-top, .folded #adminmenu li>a.menu-top:focus {
  z-index: 10000;
}
#adminmenu li.current a.menu-top, #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, .folded #adminmenu li.current.menu-top, .folded #adminmenu li.wp-has-current-submenu {
  background: #0073aa;
  color: #fff;
}
.folded #adminmenu .opensub .wp-submenu, .folded #adminmenu .wp-has-current-submenu .wp-submenu.sub-open, .folded #adminmenu .wp-has-current-submenu a.menu-top:focus+.wp-submenu, .folded #adminmenu .wp-has-current-submenu.opensub .wp-submenu, .folded #adminmenu .wp-submenu.sub-open, .folded #adminmenu a.menu-top:focus+.wp-submenu, .no-js.folded #adminmenu .wp-has-submenu:hover .wp-submenu {
  top: 0;
  left: 36px;
}
.folded #adminmenu .wp-has-current-submenu .wp-submenu, .folded #adminmenu a.wp-has-current-submenu:focus+.wp-submenu {
  position: absolute;
  top: -1000em;
}
#adminmenu .wp-not-current-submenu .wp-submenu, .folded #adminmenu .wp-has-current-submenu .wp-submenu {
  min-width: 160px;
  width: auto;
}
#adminmenu .wp-submenu a {
  font-size: 13px;
  line-height: 1.2;
  margin: 0;
  padding: 6px 0;
}
#adminmenu .opensub .wp-submenu li.current a, #adminmenu .wp-submenu li.current, #adminmenu .wp-submenu li.current a, #adminmenu .wp-submenu li.current a:focus, #adminmenu .wp-submenu li.current a:hover, #adminmenu a.wp-has-current-submenu:focus+.wp-submenu li.current a {
  color: #fff;
}
#adminmenu .wp-not-current-submenu li>a, .folded #adminmenu .wp-has-current-submenu li>a {
  padding-right: 16px;
  padding-left: 14px;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}
#adminmenu .wp-has-current-submenu ul>li>a, .folded #adminmenu li.menu-top .wp-submenu>li>a {
  padding: 6px 12px;
}
#adminmenu a.menu-top {
  font-size: 1em;
  font-weight: 400;
  line-height: 18px;
  padding: 0;
}
.folded #adminmenu .wp-menu-name {
  display: none;
}

#adminmenu .wp-submenu li {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
#adminmenu .wp-menu-image img {
  padding: 9px 0 0;
  opacity: .6;
  filter: alpha(opacity=60);
}
#adminmenu div.wp-menu-name {
  padding: 8px 0;
}
#adminmenu div.wp-menu-image {
  float: left;
  width: 36px;
  height: 34px;
  margin: 0;
  text-align: center;
}

#adminmenu div.wp-menu-image i{
  margin-top: 9px;
}

#adminmenu div.wp-menu-image.svg {
  background: no-repeat center;
  -webkit-background-size: 20px auto;
  background-size: 20px auto;
}
div.wp-menu-image:before {
  color: #a0a5aa;
  color: rgba(240, 245, 250, .6);
  padding: 7px 0;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}
#adminmenu div.wp-menu-image:before {
  color: #a0a5aa;
  color: rgba(240, 245, 250, .6);
}
#adminmenu .current div.wp-menu-image:before, #adminmenu .wp-has-current-submenu div.wp-menu-image:before, #adminmenu a.current:hover div.wp-menu-image:before, #adminmenu a.wp-has-current-submenu:hover div.wp-menu-image:before, #adminmenu li.wp-has-current-submenu a:focus div.wp-menu-image:before, #adminmenu li.wp-has-current-submenu.opensub div.wp-menu-image:before, #adminmenu li.wp-has-current-submenu:hover div.wp-menu-image:before {
  color: #fff;
}
#adminmenu li a:focus div.wp-menu-image:before, #adminmenu li.opensub div.wp-menu-image:before, #adminmenu li:hover div.wp-menu-image:before {
  color: #fff;
}
.ie8 #adminmenu li.opensub div.wp-menu-image:before {
  color: #a0a5aa;
}
.folded #adminmenu div.wp-menu-image {
  width: 35px;
  height: 30px;
  position: absolute;
  z-index: 25;
}
.folded #adminmenu a.menu-top {
  height: 34px;
}

.sticky-menu #adminmenuwrap {
  position: fixed;
}
ul#adminmenu a.wp-has-current-submenu {
  position: relative;
}
ul#adminmenu a.wp-has-current-submenu:after, ul#adminmenu>li.current>a.current:after {
  right: 0;
  border: 8px solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #f1f1f1;
  top: 50%;
  margin-top: -8px;
}
.folded ul#adminmenu li:hover a.wp-has-current-submenu:after {
  display: none;
}
.folded ul#adminmenu a.wp-has-current-submenu:after, .folded ul#adminmenu>li a.current:after {
  border-width: 4px;
  margin-top: -4px;
}
#adminmenu li.wp-has-submenu.wp-not-current-submenu:hover:after {
  right: 0;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border: 8px solid transparent;
  top: 10px;
  z-index: 10000;
}
.folded ul#adminmenu li.wp-has-submenu.wp-not-current-submenu:hover:after {
  border-width: 4px;
  margin-top: -4px;
  top: 18px;
}
#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
  border-right-color: $description_text;
}
#adminmenu li.menu-top:hover .wp-menu-image img, #adminmenu li.wp-has-current-submenu .wp-menu-image img {
  opacity: 1;
  filter: alpha(opacity=100);
}
#adminmenu li.wp-menu-separator {
  height: 5px;
  padding: 0;
  margin: 0 0 6px;
  cursor: inherit;
}
#adminmenu div.separator {
  height: 2px;
  padding: 0;
}
#adminmenu li.current, .folded #adminmenu li.wp-menu-open {
  border: 0;
}
#adminmenu .awaiting-mod, #adminmenu .update-plugins {
  display: inline-block;
  background-color: #d54e21;
  color: #fff;
  font-size: 9px;
  line-height: 17px;
  font-weight: 600;
  margin: 1px 0 0 2px;
  vertical-align: top;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  z-index: 26;
}
#adminmenu li .awaiting-mod span, #adminmenu li span.update-plugins span {
  display: block;
  padding: 0 6px;
}
#adminmenu li a.wp-has-current-submenu .update-plugins, #adminmenu li.current a .awaiting-mod {
  background-color: #00b9eb;
  color: #fff;
}
#adminmenu li span.count-0 {
  display: none;
}
#collapse-menu {
  font-size: 13px;
  line-height: 34px;
  margin-top: 10px;
  color: #a0a5aa;
  color: rgba(240, 245, 250, .6);
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}
#collapse-menu:hover, #collapse-menu:hover #collapse-button div:after {
  color: #fff;
}
.folded #collapse-menu span {
  display: none;
}


#collapse-button {
  float: left;
  height: 15px;
  margin: 10px 8px 8px 11px;
  width: 15px;
}

#collapse-button div:after {
  content: '\f137';
  display: block;
  line-height: 15px;
  left: -3px;
  top: -3px;
  color: #a0a5aa;
  color: rgba(240, 245, 250, .6);
  font: 400 20px/1 FontAwesome!important;
  speak: none;
  margin: 0 auto;
  padding: 0!important;
  position: relative;
  text-align: center;
  width: 20px;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.folded #collapse-button div:after, .rtl #collapse-button div:after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rtl.folded #collapse-button div:after {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}
li#wp-admin-bar-menu-toggle {
  display: none;
}

@media only screen and (max-width:992px) {
  .auto-fold #wpcontent, .auto-fold #wpfooter {
    margin-left: 36px;
  }
  .auto-fold #adminmenu, .auto-fold #adminmenu li.menu-top, .auto-fold #adminmenuback, .auto-fold #adminmenuwrap {
    width: 36px;
  }
  .auto-fold #adminmenu .opensub .wp-submenu, .auto-fold #adminmenu .wp-has-current-submenu .wp-submenu.sub-open, .auto-fold #adminmenu .wp-has-current-submenu a.menu-top:focus+.wp-submenu, .auto-fold #adminmenu .wp-has-current-submenu.opensub .wp-submenu, .auto-fold #adminmenu .wp-submenu.sub-open, .auto-fold #adminmenu a.menu-top:focus+.wp-submenu {
    top: 0;
    left: 36px;
  }
  .auto-fold #adminmenu .wp-has-current-submenu .wp-submenu, .auto-fold #adminmenu a.wp-has-current-submenu:focus+.wp-submenu {
    position: absolute;
    top: -1000em;
    margin-right: -1px;
    padding: 7px 0 8px;
    z-index: 9999;
  }
  .auto-fold #adminmenu .wp-has-current-submenu .wp-submenu {
    min-width: 150px;
    width: auto;
  }
  .auto-fold #adminmenu .wp-has-current-submenu li>a {
    padding-right: 16px;
    padding-left: 14px;
  }
  .auto-fold #adminmenu li.menu-top .wp-submenu>li>a {
    padding-left: 12px;
  }
  .auto-fold #adminmenu .wp-menu-name {
    display: none;
  }
  .auto-fold #adminmenu div.wp-menu-image {
    height: 30px;
    width: 34px;
    position: absolute;
    z-index: 25;
  }

  .auto-fold #adminmenu li.wp-menu-open {
    border: 0;
  }
  .auto-fold #adminmenu .wp-has-current-submenu.menu-top-last {
    margin-bottom: 0;
  }
  .auto-fold ul#adminmenu li:hover a.wp-has-current-submenu:after {
    display: none;
  }
  .auto-fold ul#adminmenu li.wp-has-submenu.wp-not-current-submenu:hover:after {
    border-width: 4px;
    margin-top: -4px;
    top: 16px;
  }
  .auto-fold ul#adminmenu a.wp-has-current-submenu:after, .auto-fold ul#adminmenu>li a.current:after {
    border-width: 4px;
    margin-top: -4px;
  }
  .auto-fold #adminmenu li.menu-top:hover, .auto-fold #adminmenu li.opensub>a.menu-top, .auto-fold #adminmenu li>a.menu-top:focus {
    z-index: 10000;
  }
  .auto-fold #collapse-menu span {
    display: none;
  }
  .auto-fold #collapse-button div {
    background: 0 0;
  }
  .auto-fold #collapse-button div:after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .rtl.auto-fold #collapse-button div:after {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

@media screen and (max-width:767px) {
  .auto-fold #wpcontent {
    position: relative;
    margin-left: 0;
    padding-left: 10px;
  }
  .sticky-menu #adminmenuwrap {
    position: relative;
    z-index: auto;
    top: 0;
  }
  .auto-fold #adminmenu, .auto-fold #adminmenuback, .auto-fold #adminmenuwrap {
    position: absolute;
    width: 190px;
    z-index: 100;
  }
  .auto-fold #adminmenuback, .auto-fold #adminmenuwrap {
    display: none;
  }
  .auto-fold .wp-responsive-open #adminmenuback, .auto-fold .wp-responsive-open #adminmenuwrap {
    display: block;
  }
  .auto-fold #adminmenu li.menu-top {
    width: 100%}
  .auto-fold #adminmenu li a {
    font-size: 16px;
    padding: 5px;
  }
  .auto-fold #adminmenu li.menu-top .wp-submenu>li>a {
    padding: 10px 10px 10px 20px;
  }
  .auto-fold #adminmenu .wp-menu-name {
    display: block;
    margin-left: 35px;
  }
  .auto-fold ul#adminmenu a.wp-has-current-submenu:after, .auto-fold ul#adminmenu>li.current>a.current:after {
    border-width: 8px;
    margin-top: -8px;
  }
  .auto-fold ul#adminmenu li.wp-has-submenu.wp-not-current-submenu:hover:after {
    display: none;
  }
  #adminmenu .wp-submenu {
    position: relative;
    display: none;
  }
  .auto-fold #adminmenu .selected .wp-submenu, .auto-fold #adminmenu .wp-menu-open .wp-submenu {
    position: relative;
    display: block;
    top: 0;
    left: -1px;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .auto-fold #adminmenu .opensub .wp-submenu, .auto-fold #adminmenu .selected .wp-submenu:after, .auto-fold #adminmenu .wp-menu-open .wp-submenu:after {
    display: none;
  }
  .auto-fold #adminmenu .selected .wp-submenu, .auto-fold ul#adminmenu li:hover a.wp-has-current-submenu:after {
    display: block;
  }
  .auto-fold #adminmenu .wp-has-current-submenu a.menu-top:focus+.wp-submenu, .auto-fold #adminmenu a.menu-top:focus+.wp-submenu {
    position: relative;
    left: -1px;
    right: 0;
    top: 0;
  }
  #wp-responsive-toggle {
    position: fixed;
    top: 5px;
    left: 4px;
    padding-right: 10px;
    z-index: 99999;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  #wpadminbar #wp-admin-bar-menu-toggle a {
    display: block;
    padding: 0;
    overflow: hidden;
    outline: 0;
    text-decoration: none;
    border: 1px solid transparent;
    background: 0 0;
    height: 44px;
    margin-left: -1px;
  }
  .wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle a {
    background: $main_color_2;
  }
  li#wp-admin-bar-menu-toggle {
    display: block;
  }
  #wpadminbar #wp-admin-bar-menu-toggle a:hover {
    border: 1px solid transparent;
  }
  #wpadminbar #wp-admin-bar-menu-toggle .ab-icon:before {
    content: '\f0c9';
    display: inline-block;
    float: left;
    font: 400 40px/45px FontAwesome;
    vertical-align: middle;
    outline: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 44px;
    width: 50px;
    padding: 0;
    border: none;
    text-align: center;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

@media screen and (max-width:767px) {
  #adminmenuback, #adminmenuwrap { display: none; }
  .wp-responsive-open #adminmenuback, .wp-responsive-open #adminmenuwrap {
    display: block;
  }
  .auto-fold #adminmenu {
    top: 46px;
  }
}

.wp-admin #yield_container {
  min-height: 750px;
}

