<div id="wpwrap">
  <div id="adminmenumain" class="hidden-print var_color_1" role="navigation" aria-label="Main menu">
    <div id="adminmenuback" class="var_color_1"></div>
    <div id="adminmenuwrap">
      <ul id="adminmenu" class="var_color_1">
        <%= render 'layouts/admin_links' %>
      </ul>
    </div>
  </div>
  <div id="wpcontent">
    <div id="wpadminbar" class="hidden-print nojq nojs var_color_1">
      <%= render 'layouts/admin_bar' %>
    </div>
    <div id="wpbody" role="main">
      <div id="wpbody-content">
        <%= render 'layouts/error' %>
        <div class="wrap" id="yield_container">
          <%= yield %>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>

<% content_for :extra_scripts do %>
    <%= render :partial => 'layouts/scripts/admin_script' %>
<% end %>
