<div class="header navbar navbar-fixed-top hidden-print">
  <div class="container">
    <div class="row">
      <div class="col-sm-7 col-xs-6 left">
        <a href="<%= MAIN_SERVER_URL %>">
          <%= image_tag "site-logo-#{WEBSITE_KEY}.png", height: '60', 'style' => 'margin-top:-15px;margin-bottom:-13px;' %>
        </a>
      </div>

      <div class="col-sm-5 col-xs-6 right">
        <% if !signed_in? %>
          <!--currencies select-->
          <% currencies = Currency.where(:active => true) %>
          <% if currencies.count > 0 %>
            <span class="small red hidden-xs">Currency:</span>
            <div class="inline-block small" style="width: 62px; margin-right: 6px;">
              <%= select_tag 'currency', options_for_select(['USD'] + currencies.pluck('code'), cookies['current_currency']), {class: '', id: 'select_currency'} %>
            </div>
          <% end %>

          <!--shopping cart icon-->
          <a href="#" style="margin-left:5px;" data-toggle="popover" data-placement="bottom"
             data-trigger="click" data-content="" title="" id="order_summary_popover">
              <span id='cart_num' class="bubble-circle">
                <% number_of_cart_items = get_number_of_cart %>
                <%= number_of_cart_items if number_of_cart_items > 0 %>
              </span>
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
              </span>
          </a>
          <div class="hidden" id="order_summary_popover_content">
            <div class="order-summary-detail"></div>
          </div>

          <%= link_to 'CONTACT US', '/contact-us', :class => 'link hidden-xs' %>

          <a id="signin_signout" data-url="<%= signup_signin_path %>" data-target="#popupSigninSignoutModal" class="link hidden-xs" data-toggle="modal">
            <i class="fa fa-lg fa-lock"></i> Login / Sign Up
          </a>
        <% else %>

          <!--currencies select-->
          <% currencies = Currency.where(:active => true) %>
          <% if currencies.count > 0 %>
            <span class="small red hidden-xs">Currency:</span>
            <div class="inline-block small" style="width: 62px; margin-right: 6px;">
              <%= select_tag 'currency', options_for_select(['USD'] + currencies.pluck('code'), current_currency.code), {class: '', id: 'select_currency'} %>
            </div>
          <% end %>

          <!--notification icon-->
          <a href="#!" id="notification-icon" class="hidden-xs" data-toggle="popover" data-placement="bottom"
             data-trigger="click" data-content="" title="">
              <span id="unread_notification_count" class="bubble-circle">
                <% unread_notifications = current_user.notifications.unread.count %>
                <%= unread_notifications if unread_notifications > 0 %>
              </span>
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-bell fa-stack-1x fa-inverse"></i>
              </span>
          </a>
          <%= render partial: 'homes/notifications' %>

          <!--shopping cart icon-->
          <a href="#" style="margin-left:5px;" data-toggle="popover" data-placement="bottom"
             data-trigger="click" data-content="" title="" id="order_summary_popover">
              <span id='cart_num' class="bubble-circle">
                <% number_of_cart_items = get_number_of_cart %>
                <%= number_of_cart_items if number_of_cart_items > 0 %>
              </span>
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
              </span>
          </a>
          <div class="hidden" id="order_summary_popover_content">
            <div class="order-summary-detail"></div>
          </div>

          <!--user profile information-->
          <ul class="nav navbar-nav hidden-xs pull-right" style="margin-left:15px;">
            <li class="dropdown">
              <a href="#" style="padding: 0;" class="dropdown-toggle" data-toggle="dropdown" role="button">
                <%= smart_image_tag current_user.profile_image_link, image_path('profile-avatar.jpg'), {}, :class => 'profile-img img-circle' %>
                <%= current_user.short_name %>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to 'YOUR PROFILE', your_profile_path %></li>
                <li><%= link_to 'SETTINGS', edit_profile_path, 'data-push' => 'true' %></li>
                <% if current_page?(souvenirs_path) %>
                  <li><%= link_to 'SOUVENIR BOARD', admin_dashboard_purchase_orders_souvenirs_path %></li>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to 'ADMIN BOARD', '/' %></li>
                <% end %>
                <% unless check_on_behalf %>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to raw("<span class='glyphicon glyphicon-log-out'></span> SIGN OUT"), signout_path, method: 'delete' %></li>
                <% end %>
              </ul>
            </li>
          </ul>
        <% end %>

        <!-- navigate to side-bar button-->
        <span class="visible-xs pull-right nav-icon" id="sidebar_icon">
          <i class="fa fa-2x fa-bars visible-xs"></i>
        </span>
      </div>
    </div>

    <div id="order_summary">
      <div class="order-summary-popover-blur hide"></div>
    </div>
    <div id="notification-container"></div>
  </div>
</div>

<div class="push-body-down"></div>

<% content_for :extra_scripts do %>
  <script type="text/javascript">
      $('#order_summary_popover').popover({
          html: true,
          container: '#order_summary',
          template: '<div class="order-summary-popover popover" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content" style="padding: 0; overflow-y: auto; max-height: ' + (window.innerHeight - 100) + 'px;"><div class="data-content"></div></div></div>',
          content: function () {
              $.get('<%= my_shopping_cart_path%>', function (data) {
                  $('#order_summary .order-summary-detail').html(data);

                  if (window.innerWidth >= 768) {
                      var left_col = ($('#order_summary').width() + 30) * 7 / 12;
                      var button_position = $('#order_summary_popover').position().left;
                      var popover_padding = ($('#order_summary').width() - $('.order-summary-popover').width() + 30) / 2;
                      var left = left_col + button_position - popover_padding + 5 + $('#order_summary_popover').width() / 2;
                      $('.order-summary-popover .arrow').css('left', left + 'px')
                  }
                  $('.order-summary-popover .popover-content').css('max-height', (window.innerHeight - 70) + 'px');
              });

              return $('#order_summary_popover_content').html();
          }
      });

      $('#order_summary_popover').on('shown.bs.popover', function () {
          $('.order-summary-popover-blur').removeClass('hide');
          $('html').addClass('no-overflow');
      });

      $('#order_summary_popover').on('hidden.bs.popover', function () {
          $('.order-summary-popover-blur').addClass('hide');
          $('html').removeClass('no-overflow');
      });

      $('#notification-icon').popover({
          html: true,
          container: '#notification-container',
          template: '<div class="notification-popover popover" role="tooltip">' +
          '<div class="arrow"></div>' +
          '<h3 class="popover-title"></h3>' +
          '<div class="popover-content" style="padding: 0; overflow-y: auto; max-height: ' + (window.innerHeight - 100) + 'px;">' +
          '<div class="data-content"></div>' +
          '</div>' +
          '</div>',
          content: function () {
              return $('.notification_container').html();
          }
      });

      //open side bar - phone
      $('#sidebar_icon, #sidebar_blur').click(function () {
          $('.row-offcanvas').toggleClass('active');
          $('#sidebar').toggleClass('hidden');
          $('.zopim').toggleClass('hidden');
          $('.row-offcanvas > .header').toggleClass('navbar-fixed-top');
          $('.push-body-down').toggleClass('hidden');
          $('#sidebar_blur').toggleClass('hidden');
          $('#sidebar_blur').toggleClass('active');
          $('.order-summary-popover-blur').toggleClass('active');
          $('#sidebar').css('max-height', window.innerHeight + 'px');
      });

      $('#popupSigninSignoutModal').on('show.bs.modal', function () {
          if (window.innerWidth >= 768) {
              var buttonOffset = $('#signin_signout').offset();
              var buttonWidth = $('#signin_signout').width();
              var modalOffset = $('#popupSigninSignoutModal .modal-dialog').offset();
              var modalWidth = $('#popupSigninSignoutModal .modal-dialog').width();

              if (buttonOffset != undefined && modalOffset != undefined && buttonWidth != undefined && modalWidth != undefined) {
                  // update position of modal
                  var center_button = buttonOffset.left + buttonWidth / 2;
                  var left = center_button - modalWidth / 2;
                  var right = left + modalWidth + 20;
                  if (right <= window.innerWidth) {
                      $('#popupSigninSignoutModal .modal-dialog').css('left', left + 'px');
                      $('#popupSigninSignoutModal .modal-dialog').css('right', 'initial');
                  }
                  else {
                      $('#popupSigninSignoutModal .modal-dialog').css('left', 'initial');
                      $('#popupSigninSignoutModal .modal-dialog').css('right', '20px');
                  }
              }
          }
      });

      $('#popupSigninSignoutModal').on('shown.bs.modal', function () {
          if (window.innerWidth >= 768) {
              var buttonOffset = $('#signin_signout').offset();
              var buttonWidth = $('#signin_signout').width();
              var modalOffset = $('#popupSigninSignoutModal .modal-dialog').offset();

              if (buttonOffset != undefined && modalOffset != undefined && buttonWidth != undefined) {
                  // update position of arrow
                  var arrow_left = buttonOffset.left - modalOffset.left + buttonWidth / 2;
                  var signin_styles = "<style>";
                  signin_styles += "#popupSigninSignoutModal .modal-dialog:before { left: " + arrow_left + "px !important }";
                  signin_styles += "</style>";
                  $(signin_styles).appendTo("head");
              }
          }
      });

      $('#select_currency').change(function () {
          setCookie('current_currency', $(this).val());
          location.reload();
      });
  </script>
<% end %>
