<div class="row row-offcanvas row-offcanvas-right">

  <%= render 'layouts/header/non_admin_header' if show_header %>

  <%= render 'layouts/error' %>

  <div id="yield_container"><%= yield %></div>

  <%= render 'layouts/footer/footer' if show_footer %>

  <%= render 'layouts/header/side_bar' if show_header %>
</div>


