<div class="col-xs-9 hidden-md hidden-lg sidebar-offcanvas center hidden" id="sidebar">

  <% if signed_in? %>
      <%= image_tag current_user.profile_image_lg_link, :class => 'profile-img img-circle' %>
      <div class="profile-name"><%= current_user.short_name %></div>
      <%= link_to 'View Profile', your_profile_path, :class => 'profile-link' %>
  <% else %>
      <a href="<%= signup_signin_path %>" data-target="#popupSigninSignoutModal" class="signout-link" data-toggle="modal">
        <i class="fa fa-lg fa-lock"></i> Login / SignUp
      </a>
  <% end %>

  <% StaticPage.boring_stuff_pages.each do |page| %>
      <%= link_to page.title, "/#{page.slug}", :class => 'sidebar-link' %>
  <% end %>

  <%= link_to 'LOGOUT', signout_path, method: 'delete', :class => 'signout-link' if signed_in? %>
</div>
<div class="hidden-md hidden-lg sidebar-blur-offcanvas hidden" id="sidebar_blur"></div>