<table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
  <tr>
    <td>
      <br>
    </td>
  </tr>
  <tr>
    <td align="left">
      <a href="<%= root_url %>" taget="_blank">
        <img src="<%= s3_image_path('site-logo.png') %>" height="40">
      </a>
    </td>

    <td align="right" style="background-color: #ffffff; font-size: 16px; line-height: 20px; font-family: 'Melbourne', Arial; color: #777779;">
      <a href="<%= root_url %><%= SOCIAL_LINK[:SNAPCHAT] %>" target="_blank">
        <img src="<%= s3_image_path('icon-snapchat.png') %>" width="25" align="right" style="margin-left: 3px;">
      </a>
      <a href="<%= SOCIAL_LINK[:INSTAGRAM] %>" target="_blank">
        <img src="<%= s3_image_path('icon-instagram.png') %>" width="25" align="right" style="margin-left: 3px;">
      </a>
      <a href="<%= SOCIAL_LINK[:TWITTER] %>" target="_blank">
        <img src="<%= s3_image_path('icon-twitter.png') %>" width="25" align="right" style="margin-left: 3px;">
      </a>
      <a href="<%= SOCIAL_LINK[:FACEBOOK] %>" target="_blank">
        <img src="<%= s3_image_path('icon-facebook.png') %>" width="25" align="right" style="margin-left: 3px;">
      </a>
    </td>
  </tr>
  <tr>
    <td>
      <br>
    </td>
  </tr>
</table>