<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="initial-scale=1.0">
  <!-- So that mobile webkit will display zoomed in -->
  <meta name="format-detection" content="telephone=no">
  <!-- disable auto telephone linking in iOS -->

  <style type="text/css">
      /* font-face */
      @font-face {
          src: url('https://<%= AMAZON_S3_CONFIG[:BUCKET_NAME] %>.s3.amazonaws.com/assets/fonts/helveticaneue.eot') format('eot'),
          url('https://<%= AMAZON_S3_CONFIG[:BUCKET_NAME] %>.s3.amazonaws.com/asset/fonts/helveticaneue.woff') format('woff'),
          url('https://<%= AMAZON_S3_CONFIG[:BUCKET_NAME] %>.s3.amazonaws.com/asset/fonts/helveticaneue.ttf') format('truetype'),
          url('https://<%= AMAZON_S3_CONFIG[:BUCKET_NAME] %>.s3.amazonaws.com/asset/fonts/helveticaneue.svg') format('svg');
          font-weight: normal;
          font-style: normal;
      }

      body {
          font-family: "helveticaneue-ultralight";
          -webkit-text-size-adjust: none;
          -ms-text-size-adjust: none;
          margin: 0;
          padding: 0;
      }

      table {
          border-spacing: 0;
      }

      table td {
          border-collapse: collapse;
      }

      hr{
          border-top: 1px solid #bbb;
          margin: 15px -30px;
      }
  </style>
</head>