<a href="<%= SOCIAL_LINK[:FACEBOOK] %>" target="_blank">Facebook</a>,
<a href="<%= SOCIAL_LINK[:TWITTER] %>" target="_blank">Twitter</a>
and
<a href="<%= SOCIAL_LINK[:INSTAGRAM] %>" target="_blank">Instagram</a>.