<div class="container-fluid hotel-wrapper">
  <div class="row">
    <div class="col-xs-3 col-md-3"></div>
    <div class="col-xs-6 col-md-6">
      <div class="col-xs-4 col-md-3">
        <a href="<%= hotel_path(hotel) %>">
          <%= image_tag hotel.image_address, width: 150, height: 150 %>
        </a>
      </div>
      <div class="col-xs-8 col-md-9">
        <% hotel.tags.each do |tag| %>
          <span class="<%= "label label-#{color_scheme(tag)}" %>"><%= tag.name.capitalize %></span>
        <% end %>

        <div class="row">
          <div class="col-xs-8">
            <h4>
              <%= hotel.name %>
            </h4>
          </div>

          <div class="col-xs-4">
            <h4 class="pull-right">
              <%= "$#{hotel.price}" %>
              <small class="text-gray-650">CAD</small>
            </h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <% 1.upto(5) do |i| %>
              <span class="<%= "glyphicon text-lg #{star_class(i, hotel)}" %>" aria-hidden="true"></span>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-8">
            <span class="glyphicon glyphicon-map-marker text-3xl text-blue-500" aria-hidden="true"></span>
            <span class="text-gray-700 text-sm"><%= hotel.address %></span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <a href="<%= hotel_path(hotel) %>">
              <button role="button" class="btn btn-primary pull-right">See availability »</button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-3 col-md-3"></div>
  </div>
</div>
