<h1>Hotels#index</h1>

<div class="bootstrap-iso">
  <div class="panel panel-default">
      <div class="panel-body">
        <% @hotels.each do |hotel| %>
          <%= render partial: 'hotel', locals: { hotel: hotel } %>
        </p>
        <% end %>
    </div>
  </div>
</div>
