<h1>Hotels#show</h1>


<div class="bootstrap-iso">
  <div class="panel panel-default">
      <div class="panel-body">
      <%= render partial: 'hotel', locals: { hotel: @hotel } %>
    </div>
  </div>
</div>
