<% content_for :new_comp do %>
        <div class="container-fluid">
                <div class="row">
                        <div class="col-md-4">.col-md-4</div>
                        <div class="col-md-4">.col-md-4</div>
                        <div class="col-md-4">.col-md-4</div>
                </div>
        </div>
<% end %>
