<%
  control_dashboard_codes = %w(actions_on_activity_dashboard view_activity_dashboard actions_on_flight_dashboard
    view_flight_dashboard actions_on_hotel_dashboard view_hotel_dashboard actions_on_ground_transport_dashboard
    view_ground_transport_dashboard actions_on_order_and_payment_dashboard view_order_and_payment_dashboard
    actions_on_redeem_item_dashboard view_redeem_item_dashboard actions_on_rooming_dashboard view_rooming_dashboard view_attendee_list_dashboard)
  show_control_dashboard = authorized?(control_dashboard_codes, true)
%>

<!--Group Travel Control Dashboard-->
<% if show_control_dashboard %>
    <% class_active_name = current_page?(group_travel_control_dashboards_path) ? 'current' : '' %>
    <li class="menu-top <%= class_active_name %>" id="control-dashboard">
      <a href="<%= group_travel_control_dashboards_path %>" data-push="true" class="menu-top <%= class_active_name %>">
        <div class="wp-menu-image dashicons ico-control"></div>
        <div class="wp-menu-name">Control</div>
      </a>
    </li>
<% end %>

<!--activity history-->
<% if authorized?('view_activity_history') %>
    <% class_active_name = current_page?(event_histories_path) ? 'current' : '' %>
    <li class="menu-top <%= class_active_name %>" id="menu-activity-history">
      <a href="<%= event_histories_path %>" data-push="true" class="menu-top <%= class_active_name %>">
        <div class="wp-menu-image dashicons ico-event-history"></div>
        <div class="wp-menu-name">Activity History</div>
      </a>
    </li>
<% end %>

<!--airline-->
<%
  can_view_airline = authorized?('view_airlines')
  can_view_airport = authorized?('view_airports')
%>
<% if can_view_airline || can_view_airport %>
    <% class_active_name = current_page?(airlines_path) || current_page?(airports_path) ? 'wp-has-current-submenu' : 'wp-not-current-submenu' %>
    <li class="wp-has-submenu menu-top <%= class_active_name %>" id="menu-airlines">
      <a class="wp-has-submenu menu-top <%= class_active_name %>">
        <div class="wp-menu-image dashicons ico-airline"></div>
        <div class="wp-menu-name">Airports & Airlines</div>
      </a>
      <ul class="wp-submenu wp-submenu-wrap">
        <% if can_view_airline %>
            <li><%= link_to 'All Airlines', airlines_path, 'data-push' => 'true' %></li>
        <% end %>
        <% if can_view_airport %>
            <li><%= link_to 'All Airports', airports_path, 'data-push' => 'true' %></li>
        <% end %>
      </ul>
    </li>
<% end %>

<!--check-in-->
<% if authorized?('view_check_ins') %>
    <% class_active_name = current_page?(checkins_path) ? 'current' : '' %>
    <li class="menu-top <%= class_active_name %>" id="menu-checkins">
      <a href="<%= checkins_path %>" data-push="true" class="menu-top <%= class_active_name %>">
        <div class="wp-menu-image dashicons ico-checkin"></div>
        <div class="wp-menu-name">Check-in</div>
      </a>
    </li>
<% end %>

<!--contracts-->
<%
  can_view_vendor_contracts = authorized?('view_vendor_contracts')
  can_view_vendor_payments = authorized?('view_vendor_payments')
%>
<% if can_view_vendor_contracts || can_view_vendor_payments %>
    <% class_active_name = current_page?(vendor_contracts_path) || current_page?(vendor_payments_path) ? 'wp-has-current-submenu' : 'wp-not-current-submenu' %>
    <li class="wp-has-submenu menu-top <%= class_active_name %>" id="menu-vendor-contracts">
      <a class="wp-has-submenu menu-top <%= class_active_name %>">
        <div class="wp-menu-image dashicons ico-contract"></div>
        <div class="wp-menu-name">Contracts</div>
      </a>
      <ul class="wp-submenu wp-submenu-wrap">
        <% if can_view_vendor_contracts %>
            <li><%= link_to 'All Vendor Contracts', vendor_contracts_path, 'data-push' => 'true' %></li>
        <% end %>
        <% if can_view_vendor_payments %>
            <li><%= link_to 'All Vendor Payments', vendor_payments_path, 'data-push' => 'true' %></li>
        <% end %>
      </ul>
    </li>
<% end %>

<!--events-->
<%
  can_view_events = authorized?('view_events')
  can_view_event_calendar = authorized?('view_event_calendar')
  can_view_event_categories = authorized?('view_event_categories')
  can_view_tags = authorized?('view_tags')
%>
<% if can_view_events || can_view_event_calendar || can_view_event_categories %>
    <% class_active_name = current_page?(events_path) || current_page?(event_categories_path) ? 'wp-has-current-submenu' : 'wp-not-current-submenu' %>
    <li class="wp-has-submenu menu-top <%= class_active_name %>" id="menu-events">
      <a class="wp-has-submenu menu-top <%= class_active_name %>">
        <div class="wp-menu-image dashicons ico-event"></div>
        <div class="wp-menu-name">Events</div>
      </a>
      <ul class="wp-submenu wp-submenu-wrap">
        <% if can_view_events %>
            <li><%= link_to 'All Events', events_path, 'data-push' => 'true' %></li>
        <% end %>
        <% if can_view_tags %>
            <li><%= link_to 'All Event Tags', tags_path, 'data-push' => 'true' %></li>
        <% end %>
        <% if can_view_event_calendar %>
            <li><%= link_to 'Event Calendar', calendar_events_path, 'data-push' => 'true' %></li>
        <% end %>
        <% if can_view_event_categories %>
            <li><%= link_to 'Event Categories', event_categories_path, 'data-push' => 'true' %></li>
        <% end %>
      </ul>
    </li>
<% end %>

<!--group-->
<% if authorized?('view_schools') %>
    <% class_active_name = current_page?(schools_path) ? 'current' : '' %>
    <li class="menu-top <%= class_active_name %>" id="menu-schools">
      <a href="<%= schools_path %>" data-push="true" class="menu-top <%= class_active_name %>">
        <div class="wp-menu-image dashicons ico-school"></div>
        <div class="wp-menu-name"><%= SCHOOL_GROUP_TEXT %>s</div>
      </a>
    </li>
<% end %>

<!--inquiries-->
<% if authorized?('manage_inquiries') %>
    <% class_active_name = current_page?(inquiries_path) ? 'current' : '' %>
    <li class="menu-top <%= class_active_name %>" id="menu-inquiries">
      <a href="<%= inquiries_path %>" data-push="true" class="menu-top <%= class_active_name %>">
        <div class="wp-menu-image dashicons ico-inquiry"></div>
        <div class="wp-menu-name">Inquiries</div>
      </a>
    </li>
<% end %>

<!--schedules-->
<%
  can_view_schedules = authorized?('view_schedules')
  can_view_predefined_messages = authorized?('view_predefined_messages')
%>
<% if can_view_schedules || can_view_predefined_messages %>
    <% class_active_name = current_page?(outbound_sms_messages_path) ? 'wp-has-current-submenu' : 'wp-not-current-submenu' %>
    <li class="wp-has-submenu menu-top <%= class_active_name %>" id="menu-sms-messages">
      <a class="wp-has-submenu menu-top <%= class_active_name %>">
        <div class="wp-menu-image dashicons ico-sms-message"></div>
        <div class="wp-menu-name">Messaging</div>
      </a>
      <ul class="wp-submenu wp-submenu-wrap">
        <% if can_view_schedules %>
            <li><%= link_to 'All Messages', schedules_path, 'data-push' => 'true' %></li>
        <% end %>
        <% if can_view_predefined_messages %>
            <li><%= link_to 'Predefined Messages', outbound_sms_messages_path, 'data-push' => 'true' %></li>
        <% end %>
      </ul>
    </li>
<% end %>

<!--orders-->
<% if authorized?('view_orders') %>
    <% class_active_name = current_page?(orders_path) ? 'current' : '' %>
    <li class="menu-top <%= class_active_name %>" id="menu-orders">
      <a href="<%= orders_path %>" data-push="true" class="menu-top <%= class_active_name %>">
        <div class="wp-menu-image dashicons ico-order"></div>
        <div class="wp-menu-name">Orders</div>
      </a>
    </li>
<% end %>

<!--payments-->
<% if authorized?('view_incoming_payments') %>
    <% class_active_name = current_page?(get_incoming_payments_path) ? 'wp-has-current-submenu' : 'wp-not-current-submenu' %>
    <li class="wp-has-submenu menu-top <%= class_active_name %>" id="menu-payments">
      <a class="wp-has-submenu menu-top <%= class_active_name %>">
        <div class="wp-menu-image dashicons ico-echeck"></div>
        <div class="wp-menu-name">Payments</div>
      </a>
      <ul class="wp-submenu wp-submenu-wrap">
        <li><%= link_to 'Incoming Payments', get_incoming_payments_path, 'data-push' => 'true' %></li>
        <li><%= link_to 'Past Payments', get_past_payments_path, 'data-push' => 'true' %></li>
      </ul>
    </li>
<% end %>

<!--product reviews-->
<% if authorized?('view_product_reviews') %>
    <% class_active_name = current_page?(product_reviews_path) ? 'current' : '' %>
    <li class="menu-top <%= class_active_name %>" id="menu-product-reviews">
      <a href="<%= product_reviews_path %>" data-push="true" class="menu-top <%= class_active_name %>">
        <div class="wp-menu-image dashicons ico-product-review"></div>
        <div class="wp-menu-name">Product Reviews</div>
      </a>
    </li>
<% end %>

<!--promo codes-->
<% if authorized?('view_promo_codes') %>
    <% class_active_name = current_page?(promo_codes_path) ? 'current' : '' %>
    <li class="menu-top <%= class_active_name %>" id="menu-promo-codes">
      <a href="<%= promo_codes_path %>" data-push="true" class="menu-top <%= class_active_name %>">
        <div class="wp-menu-image dashicons ico-promo-code"></div>
        <div class="wp-menu-name">Promo Codes</div>
      </a>
    </li>
<% end %>

<!--redeem items-->
<% if authorized?('view_redeem_items') %>
    <% class_active_name = current_page?(redeem_items_path) ? 'current' : '' %>
    <li class="menu-top <%= class_active_name %>" id="menu-redeems">
      <a href="<%= redeem_items_path %>" data-push="true" class="menu-top <%= class_active_name %>">
        <div class="wp-menu-image dashicons ico-addon"></div>
        <div class="wp-menu-name">Redeem Items</div>
      </a>
    </li>
<% end %>

<!--reports-->
<% if authorized?(%w(view_timeline_reports view_daily_reports view_geo_location_reports), true) %>
    <% class_active_name = current_page?(reports_path) || current_page?(daily_report_path) || current_page?(download_report_path) || current_page?(geolocation_report_path) ? 'current' : '' %>
    <li class="menu-top <%= class_active_name %>" id="menu-reports">
      <a href="<%= reports_path %>" data-push="true" class="menu-top <%= class_active_name %>">
        <div class="wp-menu-image dashicons ico-report"></div>
        <div class="wp-menu-name">Reports</div>
      </a>
    </li>
<% end %>

<!--reps-->
<% if authorized?('view_affiliate_users') %>
    <% class_active_name = current_page?(affiliates_path) ? 'current' : '' %>
    <li class="menu-top <%= class_active_name %>" id="menu-affiliates">
      <a href="<%= affiliates_path %>" data-push="true" class="menu-top <%= class_active_name %>">
        <div class="wp-menu-image dashicons ico-affiliate"></div>
        <div class="wp-menu-name">Reps</div>
      </a>
    </li>
<% end %>

<!--souvenir dashboard-->
<%
  can_view_souvenir_shopping = authorized?('souvenir_shopping')
  can_view_souvenir_statistic = authorized?('view_souvenir_statistic')
%>
<% if can_view_souvenir_shopping || can_view_souvenir_statistic %>
    <% class_active_name = current_page?(admin_dashboard_purchase_orders_souvenirs_path) ? 'wp-has-current-submenu' : 'wp-not-current-submenu' %>
    <li class="wp-has-submenu menu-top <%= class_active_name %>" id="menu-souvenirs">
      <a class="wp-has-submenu menu-top <%= class_active_name %>">
        <div class="wp-menu-image dashicons ico-souvenir-dashboard"></div>
        <div class="wp-menu-name">Souvenirs</div>
      </a>
      <ul class="wp-submenu wp-submenu-wrap">
        <% if can_view_souvenir_shopping %>
          <li><%= link_to 'Souvenir Dashboard', souvenirs_path %></li>
        <% end %>
        <% if can_view_souvenir_statistic %>
            <li><%= link_to 'Souvenir Statistic', admin_dashboard_purchase_orders_souvenirs_path, 'data-push' => 'true' %></li>
        <% end %>
      </ul>
    </li>
<% end %>

<!--static pages-->
<% if authorized?('view_static_pages') %>
    <% class_active_name = current_page?(static_pages_path) ? 'current' : '' %>
    <li class="menu-top <%= class_active_name %>" id="menu-static-pages">
      <a href="<%= static_pages_path %>" data-push="true" class="menu-top <%= class_active_name %>">
        <div class="wp-menu-image dashicons ico-static-page"></div>
        <div class="wp-menu-name">Static Pages</div>
      </a>
    </li>
<% end %>

<!--system settings-->
<%
  can_view_passport_properties = authorized?('view_passport_properties')
  can_view_currencies = authorized?('view_currencies')
  can_view_urgency_messages = authorized?('view_urgency_messages')
  can_view_alerts = authorized?('view_alerts') && is_supper_admin
%>
<% if can_view_alerts || can_view_currencies || can_view_passport_properties || can_view_urgency_messages  %>
    <% class_active_name = current_page?(alerts_path) || current_page?(currencies_path) || current_page?(passport_properties_path) || current_page?(emergency_messages_path) ? 'wp-has-current-submenu' : 'wp-not-current-submenu' %>
    <li class="wp-has-submenu menu-top <%= class_active_name %>" id="menu-system-settings">
      <a class="wp-has-submenu menu-top <%= class_active_name %>">
        <div class="wp-menu-image dashicons ico-system-settings"></div>
        <div class="wp-menu-name">System Settings</div>
      </a>
      <ul class="wp-submenu wp-submenu-wrap">
        <!--alerts-->
        <% if can_view_alerts %>
            <li><%= link_to 'Alerts', alerts_path, 'data-push' => 'true' %></li>
        <% end %>
        <!-- currencies -->
        <% if can_view_currencies %>
            <li><%= link_to 'Currencies', currencies_path, 'data-push' => 'true' %></li>
        <% end %>
        <!-- passport property -->
        <% if can_view_passport_properties %>
            <li><%= link_to 'Passport Properties', passport_properties_path, 'data-push' => 'true' %></li>
        <% end %>
        <!--urgency messages-->
        <% if can_view_urgency_messages %>
            <li><%= link_to 'Urgency Messages', emergency_messages_path, 'data-push' => 'true' %></li>
        <% end %>
        <!--import orders-->
        <li><%= link_to 'Import Orders', import_orders_path, 'data-push' => 'true' %></li>
      </ul>
    </li>
<% end %>

<!--teammates-->
<% if authorized?('view_teammates') %>
    <% class_active_name = current_page?(teammates_path) ? 'current' : '' %>
    <li class="menu-top <%= class_active_name %>" id="menu-teammates">
      <a href="<%= teammates_path %>" data-push="true" class="menu-top <%= class_active_name %>">
        <div class="wp-menu-image dashicons ico-teammate"></div>
        <div class="wp-menu-name">Teammates</div>
      </a>
    </li>
<% end %>

<!--terminal devices-->
<% if authorized?('view_terminal_devices') %>
    <% class_active_name = current_page?(arrow_pass_devices_path) ? 'current' : '' %>
    <li class="menu-top <%= class_active_name %>" id="menu-devices">
      <a href="<%= arrow_pass_devices_path %>" data-push="true" class="menu-top <%= class_active_name %>">
        <div class="wp-menu-image dashicons ico-device"></div>
        <div class="wp-menu-name">Terminal Devices</div>
      </a>
    </li>
<% end %>

<!--users-->
<%
  can_view_users = authorized?('view_users')
  can_view_permission_and_roles = authorized?('view_permission_and_roles')
%>
<% if can_view_users || can_view_permission_and_roles %>
    <% class_active_name = current_page?(users_path) || current_page?(roles_path) || current_page?(permissions_path) || current_page?(permission_groups_path) ? 'wp-has-current-submenu' : 'wp-not-current-submenu' %>
    <li class="wp-has-submenu menu-top <%= class_active_name %>" id="menu-users">
      <a class="wp-has-submenu menu-top <%= class_active_name %>">
        <div class="wp-menu-image dashicons ico-user"></div>
        <div class="wp-menu-name">Users</div>
      </a>
      <ul class="wp-submenu wp-submenu-wrap">
        <% if can_view_users %>
            <li><%= link_to 'All Users', users_path, 'data-push' => 'true' %></li>
        <% end %>
        <% if can_view_permission_and_roles %>
            <li><%= link_to 'Roles', roles_path, 'data-push' => 'true' %></li>
            <li><%= link_to 'Permissions & Groups', permissions_path, 'data-push' => 'true' %></li>
        <% end %>
      </ul>
    </li>
<% end %>

<!--vendors-->
<%
  can_view_vendors = authorized?('view_vendors')
  can_import_products = authorized?('import_products')
%>
<% if can_view_vendors || can_import_products %>
    <% class_active_name = current_page?(vendors_path) ? 'wp-has-current-submenu' : 'wp-not-current-submenu' %>
    <li class="wp-has-submenu menu-top <%= class_active_name %>" id="menu-vendors">
      <a class="wp-has-submenu menu-top <%= class_active_name %>">
        <div class="wp-menu-image dashicons ico-vendor"></div>
        <div class="wp-menu-name">Vendors</div>
      </a>
      <ul class="wp-submenu wp-submenu-wrap">
        <% if can_view_vendors %>
            <li><%= link_to 'All Vendors', vendors_path, 'data-push' => 'true' %></li>
        <% end %>
        <% if can_import_products %>
            <li><%= link_to 'Import Products', import_flight_import_products_path, 'data-push' => 'true' %></li>
        <% end %>
      </ul>
    </li>
<% end %>

<li id="collapse-menu">
  <div id="collapse-button">
    <div></div>
  </div>
  <span>Collapse</span>
</li>
