<% create_permissions = %w(create_affiliate_redeems create_airline create_airport create_alert create_event create_event_category create_schedule create_promo_code create_redeem_item create_school create_static_page create_teammate create_terminal_device create_urgency_message create_vendor create_currency)
   show_create_menu = authorized?(create_permissions, true)
%>
<div class="quicklinks" ng-controller="AdminMenuCtrl" id="wp-toolbar" role="navigation" aria-label="Toolbar" tabindex="0">
  <ul id="wp-admin-bar-root-default" class="ab-top-menu">
    <li id="wp-admin-bar-menu-toggle" class="menupop">
      <a class="ab-item" href="#" aria-expanded="false">
        <span class="ab-icon"></span>
        <span class="screen-reader-text">Menu</span>
      </a>
    </li>

    <li id="wp-admin-bar-wp-logo" class="menupop">
      <a class="ab-item" aria-haspopup="true" href="#" style="background: url(<%= image_path("logo-square-gray-#{WEBSITE_KEY}.png") %>); background-size: cover;">
        <span class="ab-icon"></span>
        <span class="screen-reader-text"></span>
      </a>
    </li>

    <li id="wp-admin-bar-site-name" class="menupop">
      <a class="ab-item" aria-haspopup="true" href="/"><%= COMPANY_NAME %></a>
    </li>

    <li id="wp-admin-bar-comments">
      <a class="ab-item" href="<%= view_all_notifications_path %>" title="notifications">
        <span class="ab-icon"></span>
        <span class="ab-label awaiting-mod"><%= current_user.notifications.unread.count %></span>
      </a>
    </li>

    <!--create menu-->
    <% if show_create_menu %>
        <li id="wp-admin-bar-new-content" class="menupop">
          <a class="ab-item" aria-haspopup="true" href="#">
            <span class="ab-icon"></span>
            <span class="ab-label">New</span>
          </a>
          <div class="ab-sub-wrapper">
            <ul id="wp-admin-bar-new-content-default" class="ab-submenu">
              <% if authorized?('create_affiliate_redeems') %>
                  <li><a class="ab-item" href="<%= new_redeem_path %>" title="Create New Rep Redeem" data-target="#popupModal" data-toggle="modal">New Rep Redeem</a></li>
              <% end %>
              <% if authorized?('create_airline') %>
                  <li><a class="ab-item" href="<%= new_airline_path %>" title="Create New Airline" data-target="#popupModal" data-toggle="modal">New Airline</a></li>
              <% end %>
              <% if authorized?('create_airport') %>
                  <li><a class="ab-item" href="<%= new_airport_path %>" title="Create New Airport" data-target="#popupModal" data-toggle="modal">New Airport</a></li>
              <% end %>
              <% if authorized?('create_alert') %>
                  <li><a class="ab-item" href="<%= new_alert_path %>" title="Create New Alert" data-target="#popupModal" data-toggle="modal">New Alert</a></li>
              <% end %>
              <% if authorized?('create_event') %>
                  <li><a class="ab-item" href="<%= new_event_path %>" title="Create New Event" data-target="#popupModal" data-toggle="modal">New Event</a></li>
              <% end %>
              <% if authorized?('create_event_category') %>
                  <li><a class="ab-item" href="<%= new_event_category_path %>" title="Create New Event Category" data-target="#popupModal" data-toggle="modal">New Event Category</a></li>
              <% end %>
              <% if authorized?('create_school') %>
                  <li><a class="ab-item" href="<%= new_school_path %>" title="Create New <%= SCHOOL_GROUP_TEXT %>" data-target="#popupModal" data-toggle="modal">New <%= SCHOOL_GROUP_TEXT %></a></li>
              <% end %>
              <% if authorized?('create_schedule') %>
                  <li><a class="ab-item" href="<%= new_schedule_path %>" title="Create New Message" data-push="true">New Message</a></li>
              <% end %>
              <% if authorized?('create_promo_code') %>
                  <li><a class="ab-item" href="<%= new_promo_code_path %>" title="Create New Promo Code" data-target="#popupModal" data-toggle="modal">New Promo Code</a></li>
              <% end %>
              <% if authorized?('create_redeem_item') %>
                  <li><a class="ab-item" href="<%= new_redeem_item_path %>" title="Create New Redeem Item" data-target="#popupModal" data-toggle="modal">New Redeem Item</a></li>
              <% end %>
              <% if authorized?('create_static_page') %>
                  <li><a class="ab-item" href="<%= new_static_page_path %>" title="Create New Static Page" data-target="#popupModal" data-toggle="modal">New Static Page</a></li>
              <% end %>
              <% if authorized?('create_teammate') %>
                  <li><a class="ab-item" href="<%= new_teammate_path %>" title="Create New Teammate" data-target="#popupModal" data-toggle="modal">New Teammate</a></li>
              <% end %>
              <% if authorized?('create_terminal_device') %>
                  <li><a class="ab-item" href="<%= new_arrow_pass_device_path %>" title="Create New ArrowPass Device" data-target="#popupModal" data-toggle="modal">New Terminal Device</a></li>
              <% end %>
              <% if authorized?('create_urgency_message') %>
                  <li><a class="ab-item" href="<%= new_emergency_message_path %>" title="Create New Urgency Msg" data-target="#popupModal" data-toggle="modal">New Urgency Msg</a></li>
              <% end %>
              <% if authorized?('create_vendor') %>
                  <li><a class="ab-item" href="<%= new_vendor_path %>" title="Create New Vendor" data-target="#popupModal" data-toggle="modal">New Vendor</a></li>
              <% end %>
              <% if authorized?('create_currency') %>
                  <li><a class="ab-item" href="<%= new_currency_path %>" title="Create New Currency" data-target="#popupModal" data-toggle="modal">New Currency</a></li>
              <% end %>
            </ul>
          </div>
        </li>
    <% end %>

    <!--on-behalf menu-->
    <% if authorized?('login_on_behalf') %>
        <li id="wp-admin-bar-on-behalf">
          <a class="ab-item" href="<%= on_behalf_path %>" data-push="true" title="Login On behalf of user">
            <span class="ab-icon"></span>
            <span class="ab-label">On behalf</span>
          </a>
        </li>
    <% end %>

    <!--search menu-->
    <% if authorized?(%w(view_events view_orders view_users), true) %>
        <li id="wp-admin-quick-search">
          <div class="input-group">
            <input class="form-control" ng-model="global_search_text"
                   ng-keyup="$event.keyCode == 13 && doSearch()"
                   placeholder="Search {{selected_search_object.text}}...">
            <div class="input-group-btn">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li ng-repeat="s in search_objects">
              <span ng-click="changeSearchObject(s)">
                <i class="fa fa-check" ng-if="s.text == selected_search_object.text"></i>
                {{s.text}}
              </span>
                </li>
              </ul>
              <button type="button" class="btn btn-primary" ng-click="doSearch()">Search <i class="fa fa-search"></i></button>
            </div>
          </div>
        </li>
    <% end %>
  </ul>

  <ul id="wp-admin-bar-top-secondary" class="ab-top-secondary ab-top-menu">
    <li id="wp-admin-bar-my-account" class="menupop with-avatar">
      <a class="ab-item" aria-haspopup="true" href="#">
        Hi <%= current_user.first_name %>
        <%= smart_image_tag current_user.profile_image_link, image_path('profile-avatar.jpg') %>
      </a>
      <div class="ab-sub-wrapper margin-bottom-30">
        <ul id="wp-admin-bar-user-actions" class="ab-submenu">
          <li id="wp-admin-bar-user-info">
            <img src="<%= image_path(current_user.profile_image_lg_link) %>" />
          </li>
          <li style="padding-top:10px;">
            <%= link_to 'Your Profile', your_profile_path, :class => 'ab-item', 'data-push' => true %>
          </li>
          <li>
            <%= link_to 'Profile\'s Settings', edit_profile_path, :class => 'ab-item', 'data-push' => true %>
          </li>
          <li style="padding-bottom:10px;">
            <%= link_to 'Sign Out', signout_path, :class => 'ab-item', 'data-push' => true, :method => :delete %>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>

