<div id="paymentPlanModal" class="modal" style="display: none;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" aria-hidden="true" data-dismiss="modal" type="button">
          <i class="fa fa-times"></i>
				</button>
				<div class="text-center">
          <img src="<%= image_path("site-logo-#{WEBSITE_KEY}.png") %>" />
				</div>
			</div>
			<div class="modal-body" style="padding:0px;">
        <% if layaway_type == 'myself' %>
            <%= render :partial => 'events/auto_charge_planing_for_layaway_by_my_self' %>
        <% else %>
            <%= render :partial => 'events/auto_charge_planing_for_layaway_with_friends' %>
        <% end %>
			</div>
			<div class="modal-footer">
				<a class="btn btn-default" data-dismiss="modal">Close</a>
			</div>
		</div>
	</div>
</div>

<% content_for :extra_scripts do %>
	<script type="text/javascript">
		$(document).ready(function() {
			$("#btnConfirmPaymentPlan").click(function(){
				$('#paymentPlanModal').modal({backdrop: true});
			});
		}); 
	</script>
<% end %>