<div ng-if="pp_properties.length">
  <h3 class="heading-title text-center">PASSPORT INFORMATION</h3>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          Are you the individual who is traveling?
          <span class="req">[<i class="fa fa-asterisk"></i>]</span>
          <div class="select-passport-options filters">
            <label><input type="radio" ng-model="is_traveling" onclick="handleClick();" ng-value="true"> YES</label>
            <label><input type="radio" ng-model="is_traveling" onclick="handleClick();" ng-value="false"> NO</label>
          </div>
        </h4>
      </div>
      <div id="collect-passport-container" class="hidden panel-body">
        <div ng-if="is_traveling">
          <p class="red">
            Please fill out your legal information.
          </p>
          <ul>
            <li>Note: The following information must be entered exactly as it appears on your government- issued
              identification. If any of the following information is entered incorrectly, you may not be allowed onto your
              flight or through immigration.
            </li>
            <li>
              Note: Please fill out as much information as possible right now. You can edit this again from your
              profile later.
            </li>
          </ul>
        </div>

        <div ng-if="!is_traveling">
          <p class="red">
            Please fill out the traveler's legal passport identification information.
          </p>
          <ul>
            <li>
              Note: The following information must be entered exactly as it appears on the traveler's government
              -issued identification. If any of the following information is entered incorrectly, he/she may not be allowed
              onto the flight or through immigration.
            </li>
            <li>
              Note: Please fill out as much information as possible right now. The traveler can edit this again from
              your profile later.
            </li>
          </ul>
        </div>
        <%= render :partial => '/passports/passport_property_fields', :locals => {:event => @event} %>
      </div>
    </div>
  </div>
</div>

<% content_for :extra_scripts do %>
    <script type="text/javascript">
      function handleClick(){
          $('#collect-passport-container').removeClass('hidden');
      }
    </script>
<% end %>