<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

<style>
  <% if !IS_PRODUCTION && show_admin_board %>
  .var_color_1 { background-color: <%= VAR_COLORS[:VAR_COLOR_1] %> !important; }
  <% end %>

  body{
    font-family: 'Muli', sans-serif !important;
  }

  .tablesorter-default {
    font-family: 'Muli', sans-serif !important;
  }

  .popover{
    font-family: 'Muli', sans-serif !important;
  }
</style>
