<form action="<% if defined?(url) && url %><%= url %><% else %>{{ paymentUrl }}<% end %>"
      method="POST" ng-controller="StripePaymentFormCtrl" ng-submit="submit($event)" id="credit-card-form">

  <input type="hidden" value="<%= session[:_csrf_token]%>" name="authenticity_token" />
  <input type="hidden" value="credit_card" name="payment_method" />
  <input type="hidden" name="to_pay_amount" ng-model="to_pay_amount" value="{{ getToPayAmount() }}" readonly/>

  <%= render :partial => 'layouts/shipping_address' if defined?(@cart) && @cart[:requires_shipping_address] %>

  <div class="form-group text-center" style="margin-top: 2rem">
    <div style="margin-bottom: 2rem">
      <label for="credit_card_name" style="color: #757575">Cardholder name</label>
      <input type="text" class="form-control" style="margin: 0 auto; max-width: 500px; height: 100%" name="credit_card_name" placeholder="Cardholder name" ng-model="name">
    </div>

    <label for="card-element" style="color: #757575">Credit or debit card</label>
    <div id="card-element" class="form-control" style="margin: 0 auto; max-width: 500px; height: 100%">
      <!-- A Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display Element errors. -->
    <div id="card-errors" class="red" role="alert"></div>
  </div>

  <% confirm_payment_plan = defined?(confirm_payment_plan) && confirm_payment_plan %>
  <%= render :partial => '/layouts/terms_and_privacy_policy', locals: {:confirm_payment_plan => confirm_payment_plan} %>

  <div class="padding-all">
    <h3 style="color: black">
      Unity Travel provides refund protection to all customers at <b>no extra cost to you.</b>
    </h3>

    <p>
      Receive a full refund of your transaction (event, booking fees, payment fees and even our fee!) if you are unable to attend the event due to an unforeseen circumstance. Some scenarios which are covered, but not limited to:
    </p>

    <ul>
      <li> Accident, Injury, Illness </li>
      <li> Pre-existing Medical Conditions </li>
      <li> Adverse Weather </li>
      <li> Scheduled Airline Failure </li>
      <li> Private vehicle failure </li>
      <li> Pregnancy related conditions </li>
      <li> Armed forces &amp; emergency recall </li>
      <li> Redundancy </li>
      <li> Any emergency circumstance </li>
      <li> And many more... </li>
    </ul>

    <p>
      View more information <a href="https://www.refundprotect.me/member-wording" class="light-blue">here</a>
    </p>
  </div>

  <div class="col-sm-12 text-center">
    <button type="submit" class="btn btn-info btn-lg" ng-disabled="isSubmitButtonDisabled">
      <%= defined?(text_button) && text_button ? text_button : 'Place order' %>
      <i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i>
    </button>
  </div>
</form>

<%= render :partial => '/layouts/auto_charge', locals: { :layaway_type => layaway_type } if confirm_payment_plan %>

<% content_for :extra_scripts do %>
    <script type="text/javascript">
        $(function(){
          JusCollege.AngularUtils.applyData('[ng-controller=StripePaymentFormCtrl]', 'init', function (scope) {
            <% if defined?(@cart) && @cart[:requires_shipping_address] %>
                scope.update_primary_shipping_address_path = "<%= update_primary_shipping_address_user_path(@current_user.id) %>";
            <% end %>
            <% if confirm_payment_plan %>
                scope.layawayPayments = <%= raw(layawayPayments.to_json) %>;
            <% end %>
          });
        });
    </script>
<% end %>
