<div id="showEmergencyMessageModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Message From <%= COMPANY_NAME %></h4>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <tr>
            <th>Timestamp</th>
            <th>Content</th>
          </tr>
          <% EmergencyMessage.active.each do |emergency_message| %>
              <tr>
                <td class="red"><%= Utils.format_date_time(emergency_message.updated_at) %></td>
                <td><%= emergency_message.message %></td>
              </tr>
          <% end %>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<% content_for :extra_scripts do %>
    <script>
      $(document).ready(function(){
          <% if EmergencyMessage.active.present? && !(signed_in? && current_user.admin) %>
            $('#showEmergencyMessageModal').modal();
          <% end %>
      });
    </script>
<% end %>