<% event_slug = event_slug || nil %>
<div class="event-categories hidden-xs">
  <ul class="nav navbar-nav">
    <% event_categories.each do |category| %>
        <li>
          <a href="<%= event_list_path(:type => category[:id]) %>" class="<%= current_category == category[:id] ? 'active' : '' %>">
            <b><%= category[:name] %></b>
            <span class="small-text">(<%= category[:event_count] %>)</span>
          </a>
        </li>
    <% end %>
  </ul>
  <div class="clear"></div>
  <div class="col-md-12 center"><a href="<%= INQUIRY_URL %>" class="btn btn-info btn-lg btn-block">Create Your Custom Trip</a></div>
</div>

<div class="drop-event-categories visible-xs">
  <label class="dropdown-caret">
    <select>
      <% event_categories.each do |category| %>
          <option <%= 'selected' if current_category == category[:id] %> value="<%= category[:id] %>">
            <%= "#{category[:name]} (#{category[:event_count]})" %>
          </option>
      <% end %>
    </select>
  </label>
  <a href="<%= INQUIRY_URL %>" class="btn btn-info btn-lg btn-block">Create Your Custom Trip</a>
</div>


<% content_for :extra_scripts do %>
    <script>
        $(document).ready(function(){
            $('.drop-event-categories select').change(function(){
                window.location.href = '/event-list?type=' + $(this).val();
            });
        });
    </script>
<% end %>
