<div class="flight-terms">
  <h4>Important:</h4>
  <p>
    You have chosen a JusGo Flight itinerary!
    Selecting a JusGo Flight itinerary allows you to lock in your trip and begin your payments months in advance, without having a definite itinerary.
    By choosing a JusGo Flight Itinerary, you have given us consent to choose multiple flight itineraries from any airport(s) within close proximity of your school or departure city on your real travel dates or package nights.
    You will select your flight from the provided itineraries closer to your travel date.
  </p>
</div>