<% flight_policy = StaticPage.friendly.find(StaticPage::PAGES['AIRLINE_BAGGAGE_FEE_POLICY']) %>

<div id="flight_policy_modal" class="modal" style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h3 class="modal-title padding-top"><%= flight_policy ? flight_policy.title : 'Airline Baggage Fee Policy' %></h3>
      </div>
      <div class="modal-body text-left">
        <%= flight_policy.nil? ? 'Content is under construction...' : raw(flight_policy.description) %>
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary" data-dismiss="modal">Close</a>
      </div>
    </div>
  </div>
</div>