<% hotel_policy = StaticPage.friendly.find(StaticPage::PAGES['ROOMING_INSTRUCTIONS']) %>

<div id="hotel_policy_modal" class="modal" style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h3 class="modal-title padding-top"><%= hotel_policy ? hotel_policy.title : 'Rooming Instructions' %></h3>
      </div>
      <div class="modal-body text-left">
        <%= hotel_policy.nil? ? 'This page is being built...' : raw(hotel_policy.description) %>
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary" data-dismiss="modal">Close</a>
      </div>
    </div>
  </div>
</div>