<% currency = orders.get_currency %>

<% if orders.present? %>
    <div class="panel panel-default">
      <div>
        <!-- deposit tickets -->
        <% if [Order::ORDER_TYPE['CABO_SPRING_BREAK_DEPOSIT_BOOK']].include?(orders.order_type) %>
            <div class="cart-table">
              <div class="cart-row">
                <div class="cart-cell product-logo hidden-print">
                  <% if orders.event.image_1.blank? %>
                      <img src="<%= s3_image_path('no-product-image-small.jpg') %>" width="150">
                  <% else %>
                      <img src="<%= orders.event.image_1 %>/convert?w=100">
                  <% end %>
                </div>
                <div class="cart-cell product-description" style="width: auto">
                  <div class="heading-title"><%= "#{orders.event.name} (#{number_to_currency(orders.total_price * currency.exchange_rate, unit: currency.symbol)} #{currency.code} deposited)" %></div>
                </div>
                <div class="cart-cell product-price">
                  1 x
                  <span class="heading-title"><%= "#{number_to_currency(orders.total_price * currency.exchange_rate, unit: currency.symbol)} #{currency.code}" %></span>
                </div>
              </div>
            </div>
        <% else %>
            <table class="table">
              <thead>
              <tr>
                <th>Product</th>
                <th class="text-right">Price</th>
                <th class="text-center">Qty</th>
                <th class="text-right">Total</th>
              </tr>
              </thead>
              <% if products.present? %>
                  <% products.each do |product| %>
                      <% if product.class.to_s == 'OrderItem' %>
                          <tr>
                            <td><%= product.order.event.name %></td>
                            <td class="text-right"><%= "#{number_to_currency(product.unit_price * currency.exchange_rate, unit: currency.symbol)} #{currency.code}" %></td>
                            <td class="text-center"><%= product.quantity %></td>
                            <td class="text-right"><%= "#{number_to_currency(product.unit_price * product.quantity * currency.exchange_rate, unit: currency.symbol)} #{currency.code}" %></td>
                          </tr>
                      <% else %>
                          <% product[:sub_items].each_with_index do |sub_item, idx| %>
                              <tr>
                                <% if idx == 0 %>
                                    <td rowspan="<%= product[:sub_items].length %>">
                                      <h4><%= product[:name] %></h4>
                                      <h6><%= product[:subtitle] %></h6>
                                    </td>
                                <% end %>
                                <td class="text-right"><%= "#{number_to_currency(sub_item[:unit_price] * currency.exchange_rate, unit: currency.symbol)} #{currency.code}" %></td>
                                <td class="text-center"><%= sub_item[:quantity] %></td>
                                <td class="text-right"><%= "#{number_to_currency(sub_item[:total_price] * currency.exchange_rate, unit: currency.symbol)} #{currency.code}" %></td>
                              </tr>
                          <% end %>
                      <% end %>
                  <% end %>
              <% end %>
            </table>
        <% end %>
        <div class="center">
          <% if defined? checkout_url %>
              <%= link_to raw("Checkout <i class='fa fa-chevron-right'></i><i class='fa fa-chevron-right'></i>"), checkout_url, :class => 'btn btn-info btn-lg' %>
          <% elsif defined? continue_shopping_url %>
              <%= link_to raw("<i class='fa fa-chevron-left'></i><i class='fa fa-chevron-left'></i> Continue Shopping"), continue_shopping_url, class: "btn btn-default " %>
          <% end %>
        </div>
      </div>
    </div>
<% end %>

<% if defined?(cart) && !cart.nil? && cart[:items].length > 0 %>
    <h3 class="heading-title text-center">NEW ITEMS</h3>
    <%= render :partial => '/events/checkout/_cart_table',
               :locals => { cart: cart ,continue_shopping_url: event_products_path(@event.slug), update_action: true} %>
<% end %>

<% if orders != nil %>
    <% paid_amount = orders.paid_amount %>
    <% if paid_amount > 0 %>
        <h3 class="heading-title padding-row">
          <span>Amount Already Paid</span>
          <span class="pull-right"><%= "#{number_to_currency(paid_amount * currency.exchange_rate, unit: currency.symbol)} #{currency.code}" %></span>
        </h3>
    <% end %>

    <h3 class="heading-title padding-row">
      <span>Total Remaining</span>
      <span class="pull-right">
        <% remaining_amount = orders.remaining_amount %>
        <% if @cart.nil? %>
            <%= "#{number_to_currency(remaining_amount * currency.exchange_rate, unit: currency.symbol)} #{currency.code}" %>
        <% else %>
            <%= "#{number_to_currency((remaining_amount + @cart[:total_price]) * currency.exchange_rate, unit: currency.symbol)} #{currency.code}" %>
        <% end %>
      </span>
    </h3>
<% end %>