<% if @event.blank? || @event.show_school_organization %>
<div class="col-sm-4 padding-top">
  <div><%= SCHOOL_GROUP_TEXT %></div>
  <select ng-model="school" ng-change="school_change()" ng-options="s.name for s in school_list" multiselect-dropdown extra-settings="group_extra_settings"></select><br/>
  <input type="text" class="ng-hide" ng-model="other_school" ng-show="show_other_school" placeholder="Please input your <%= SCHOOL_GROUP_TEXT %> name" maxlength="50"/>
</div>
<div class="col-sm-4 padding-top">
  <div>Organization</div>
  <select ng-model="organization" ng-options="o.name for o in organization_list"  multiselect-dropdown extra-settings="organization_extra_settings"></select><br/>
  <input type="text" class="ng-hide" ng-model="other_organization" ng-show="show_other_organization" placeholder="Please input your organization" maxlength="50"/>
</div>
<% end %>