<div class="form-group col-sm-6 padding-top">
    <label for="phone" style="color: #757575">Mobile Phone Number <small><b>(used for important &amp; urgent messaging)</b></small></label>
    <input id="phone" class="col-sm-4" maxlength="14" type="tel" ng-model="phone" autocomplete="phone" required>
</div>

<% content_for :extra_scripts do %>
    <script type="text/javascript">
        $(document).ready(function() {
            Inputmask({mask: "999-999-9999", clearMaskOnLostFocus: true, autoUnmask: true, greedy: false }).mask($('input[type="tel"]'));
        });
    </script>
<% end %>