<h3 class="heading-title text-center">Shipping Address</h3>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Shipping Address</h4>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">
        <label>First Name <span class="req"></span></label>
        <input name="shipping_address_first_name" type="text" maxlength="50" required>
      </div>
      <div class="col-sm-6">
        <label>Last Name <span class="req"></span></label>
        <input name="shipping_address_last_name" type="text" maxlength="50" required>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 padding-top">
        <label>Address <span class="req"></span></label>
        <input name="shipping_address_line_1" type="text" maxlength="50" required>
      </div>
      <div class="col-sm-6 padding-top">
        <label>Address Line 2 <small>(optional)</small></label>
        <input name="shipping_address_line_2" type="text" maxlength="20">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 padding-top">
        <label>City <span class="req"></span></label>
        <input name="shipping_address_city" type="text" maxlength="50" required>
      </div>
      <div class="col-sm-6 padding-top">
        <label>Zip/Postal Code <span class="req"></span></label>
        <input name="shipping_address_zip" type="text" maxlength="20" required>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 padding-top">
        <label>State / Province <span class="req"></span></label>
        <select name="shipping_address_state" class="select required" id="state" required>
        </select>
      </div>
      <div class="col-sm-6 padding-top">
        <label>Country <span class="req"></span></label>
        <select name="shipping_address_country" class="select required" id="country" required>
          <option value="3">Canada</option>
          <option value="1">United States</option>
        </select>
      </div>
    </div>
  </div>
</div>

<%= render :partial => 'layouts/scripts/country_state_script_easy', :locals => { :state_selector => '#state', :country_selector => '#country' } %>
