<div class="row">
  <div class="col-sm-12 padding-top text-center">
    <label class="terms-label">
      <input ng-model="agree_privacy_term" type="checkbox"/>
      I have read and agree to the

      <a data-target="#popupLargeModal" class="light-blue" data-toggle="modal"
         title="<img src='<%= image_path("site-logo-#{WEBSITE_KEY}.png") %>'/>"
         href="<%= terms_path(:slug => StaticPage::PAGES['PRIVACY_POLICY']) %>">
        Privacy Policy
      </a>

      and

      <a data-target="#popupLargeModal" class="light-blue" data-toggle="modal"
         title="<img src='<%= image_path("site-logo-#{WEBSITE_KEY}.png") %>' />"
         href="<%= terms_path(:slug => StaticPage::PAGES['TERMS_OF_SERVICE']) %>">
        Terms of Service
      </a>

      <% if confirm_payment_plan %>
          and <a id="btnConfirmPaymentPlan" class="light-blue">Payment Plan Amounts & Dates</a>
      <% end %>
    </label>

    <br />

    <label class="terms-label">
      <input ng-model="agree_acknowledgement_of_risk" type="checkbox" />

      I have read and agree the

      <a data-target="#popupLargeModal" class="light-blue" data-toggle="modal"
         title="<img src='<%= image_path("site-logo-#{WEBSITE_KEY}.png") %>' />"
         href="<%= terms_path(:slug => StaticPage::PAGES['ACKNOWLEDGEMENT_OF_RISK']) %>">
        Acknowledgement of Risk
      </a>
    </label>
  </div>
</div>