<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<%= render 'layouts/email/email_head' %>
<body style="margin:0; padding:10px 0;" bgcolor="#ebebeb" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- 100% wrapper (grey background) -->
<div style="overflow: auto">
  <table border="0" width="100%" height="100%" cellpadding="0" cellspacing="0" bgcolor="#ebebeb">
    <tr>
      <td align="center" valign="top" bgcolor="#ebebeb" style="background-color: #ebebeb;">
        <!-- 600px container (white background) -->
        <table border="0" width="100%" cellpadding="0" cellspacing="0" class="container" bgcolor="#ffffff">
          <tr>
            <td class="container-padding" bgcolor="#ffffff" style="background-color: #ffffff; padding-left: 30px; padding-right: 30px; font-size: 16px; line-height: 20px; color: #777779;">
              <br>
              <br>
              <!-- ### BEGIN CONTENT ### -->
              <%= yield %>
              <!-- ### END CONTENT ### -->

              <%= render 'layouts/email/email_footer' %>
            </td>
          </tr>
        </table>
        <!--/600px container -->
      </td>
    </tr>
  </table>
</div>
<!--/100% wrapper-->
</body>
</html>
